{% extends "pages//baseNew.html" %}

{% block body_content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/about.css') }}">

<div class="Static-Content">
    <div class="Title-About-Us">Błąd aplikacji</div>
    <div class="About-Us-Box">
      <div class="About-Us-Text">
        <span class="About-Us-Font">
            <h1>Niestety, wystąpił wewnętrzny błąd aplikacji!</h1>
            <h4>Spróbuj wykonać czynność ponownie, lub skontaktuj się z administratorem.</h4>
 
        </span>

      </div>
    </div>
</div>



{% endblock %}

