<div class="container-xl px-4 mt-4">

    <div class="card mb-4 mb-xl-0 Event-Main-Box">
        
        <div class="card-header Event-Title-Box">Edytuj współczynnik sportu</div>

        <div class="card-body">

            <form method ="post" action="{{ url_for('event.modify_coefficient', event_id = event_id, activity_type_id = activity_type_id  ) }}">
                {{ form.csrf_token}}

                <div class="row justify-content-left px-4">
                    

                    <div class="col-md-8"><label class="form-label"><b>{{ form.event_name.label()}}</b></label> 
                        <br>{{ form.event_name.data}} 
                    </div> 
                    
                    <div class="row pt-3"></div>
                    <div class="col-md-8"><label class="form-label"><b>{{ form.activity_name.label()}} </b></label> 
                        <br>{{ form.activity_name.data}} 
                    </div>

                    <div class="row pt-3"></div>

                    <div class="col-md-4"><label class="form-label">
                        <div class="wrapper">
                            <img src="/static/img/help.svg" style="height: 22px;">
                            <b>{{ form.is_constant.label()}}</b>

                            <div class="tooltip" style="left: 5px;">
                                <b>Stała</b> -> każda aktywność tego typu jest warta tyle samo km, bez względu na realny dystans<br><br>
                                                <b> Współczynnik</b> -> Rzeczywisty dystans jest mnożony przez współczynnik dla danego sportu
                            </div>
                        </div>
                    </label> 
                        <br>{{ form.is_constant(class="form-control form-control-sm Input-Box") }} 
                    </div>

                    <div class="col-md-4"><label class="form-label"><b>{{ form.value.label()}}</b></label> 
                        <br>{{ form.value(class_="form-control form-control-sm Input-Box" ) }} 
                    </div>



                <div class="row pt-3"></div>
                <div class="row justify-content-left">
                    <div class="col-3"><button class="btn btn-dark btn-lg Main-Button" type="submit">Zapisz</button></div>
                </div>
            </form>
        </div>
    </div>
</div>

