<div class="container-xl px-4 mt-4">
    
    <nav class="nav nav-borders rounded" style="background-color: rgba(224, 153, 94);">
        <a class="nav-link" href="{{ url_for('event.viewEvent', eventID=event.id)}}"  style="color: hsla(92, 73%, 10%, 0.91);"><b>{{event.name}}</b></a>
        <a class="nav-link" href="{{ url_for('event.viewEvent', eventID=event.id)}}"  style="color: hsla(92, 73%, 10%, 0.91);">Strona Główna</a>
        <a class="nav-link" href="{{ url_for('event.eventContestants', eventID=event.id)}}" style="color: #182c07e8;">Uczestnicy</a>
        <a class="nav-link" href="{{ url_for('event.eventActivities', eventID=event.id) }}" style="color: #182c07e8;">Aktywności</a>
        <a class="nav-link" href="{{ url_for('event.eventStatistics', eventID=event.id) }}" style="color: #182c07e8;">Statystyki</a>
        <a class="nav-link" href="{{ url_for('event.eventBeers', eventID=event.id) }}" style="color: #182c07e8;">Piwa!</a>
    </nav>

</div>