<link rel= "stylesheet" type= "text/css" href= "{{ url_for('event.static',filename='styles/event_menu.css') }}">

<div class="container-xl px-4 mt-4 eventMenu-Main-Box">
    
    <nav class="nav nav-borders rounded eventMenu-Navbar" style="background-color: rgba(224, 153, 94);">
        <span class="nav-link"  style="color: #579956; word-break: break-all "><b>{{event.name}}</b></span> 

        {% if mode=='eventView': %}
            <a class="nav-link" href="{{ url_for('event.event_main', event_id=event.id)}}"  style="color: white; background-color: #579956;">Strona Główna</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('event.event_main', event_id=event.id)}}"  style="color: white;">Strona Główna</a>
        {% endif %}

        
        {% if mode=='eventContestants': %}
            <a class="nav-link" href="{{ url_for('event.event_contestants', event_id=event.id)}}" style="color: white; background-color: #579956;">Uczestnicy</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('event.event_contestants', event_id=event.id)}}" style="color: white;">Uczestnicy</a>
        {% endif %}

        
        {% if mode=='eventAvtivities': %}
            <a class="nav-link" href="{{ url_for('event.event_activities', event_id=event.id) }}" style="color: white; background-color: #579956;">Aktywności</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('event.event_activities', event_id=event.id) }}" style="color: white;">Aktywności</a>
        {% endif %}


        {% if mode=='eventStatistics': %}
            <a class="nav-link" href="{{ url_for('event.event_statistics', event_id=event.id) }}" style="color: white; background-color: #579956;">Statystyki</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('event.event_statistics', event_id=event.id) }}" style="color: white;">Statystyki</a>
        {% endif %}

        
        {% if mode=='eventBeers': %}
            <a class="nav-link" href="{{ url_for('event.event_beers', event_id=event.id) }}" style="color: white; background-color: #579956;">Nagrody!</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('event.event_beers', event_id=event.id) }}" style="color: white;">Nagrody!</a>
        {% endif %}


        <a class="nav-link" href="#" onclick="copyText()" style="color: white;">Udostępnij!</a>
        
    </nav>

</div>

<script>
        function copyText() {
        
        /* Copy text into clipboard */
        navigator.clipboard.writeText
            ("https://sportoweswiry.com.pl{{ url_for('event.event_preview', event_id=event.id) }}")
            .then(() => {
            alert("Skopiowano link do wydarzenia!");})
            .catch(() => {
                alert("Wystąpił błąd! Spróbuj ponownie.");
                });
            }
</script>