
{% if mode == "edit": %}
<form method ="post" action="{{ url_for('event.modify_sport_in_base', sport_id = sport_id) }}">
{% else %}
<form method ="post" action="{{ url_for('event.add_new_sport_to_base') }}">
{% endif %}
    {{ form.csrf_token}}

    <div class="row justify-content-left px-4">
        

        <div class="row pt-3"></div>
        <div class="col-md-8"><label class="form-label"><b>{{ form.activity_name.label()}}</b></label> 
            <br>{{ form.activity_name(class_="form-control form-control-sm" )}} 
        </div>

        <div class="row pt-3"></div>
        <div class="col-md-4"><label class="form-label"><b>{{ form.value.label()}}</b></label> 
            <br>{{ form.value(class_="form-control form-control-sm" ) }} 
        </div>

        <div class="col-md-4"><label class="form-label"><b>{{ form.is_constant.label()}}</b></label> 
            <br>{{ form.is_constant(class="form-check-input") }} 
        </div>

    <div class="row pt-3"></div>
    <div class="row justify-content-left">
        <div class="col-3"><button class="btn btn-dark btn-lg" style="background-color: #182c07e8;" type="submit">Zapisz</button></div>
    </div>
    </div>
</form>


