
{% if mode == 'create' %}
<form method ="post" action="{{ url_for('event.create_event') }}">
    {{ form.csrf_token}}
{% endif %}

{% if mode == 'edit' %}
<form method ="post" action="{{ url_for('event.admin_modify_event', event_id = event_id) }}">
    {{ form.csrf_token}}
{% endif %}


<div class="container-xl px-4 mt-4">

        <div class="card mb-4 mb-xl-0 Event-Main-Box">
            
            <div class="card-header Event-Title-Box">Podaj szczegóły wyzwania</div>

            <div class="card-body">
                <div class="row justify-content-left">
                    <div class="col-md-6">
                        <label class="form-label-bg"><b>{{ form.name.label()}} </b></label> 
                        {{ form.name(class_="form-control form-control-sm" ) }} </br>
                        <ul>
                            {% for error in form.name.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    
                    
                        <div class="row justify-content-left">
                            <div class="col-md-6"><label class="form-label"><b>{{ form.start.label()}}</b></label> 
                                {{ form.start(class_="form-control form-control-sm" ) }} 
                                <ul>
                                    {% for error in form.start.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </ul>
                                <hr>
                            </div>  
                            <div class="col-md-6"><label class="form-label"><b>{{ form.length.label}}</b></label> </br>
                                {{ form.length(class_="form-control form-control-sm") }}
                                <ul>
                                    {% for error in form.length.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </ul>
                            </div>  
                        </div>  
                    
                        <div class="row justify-content-left">
                            <div class="col-md-6"><label class="form-check-label"><b>{{ form.isPrivate.label}}</b></br></label> </br>
                                {{ form.isPrivate(class="form-check-input") }}
                                <ul>
                                    {% for error in form.isPrivate.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </ul>
                            </div> 
                            
                            <div class="col-md-6"><label class="form-check-label"><b>{{ form.password.label}}</b></br></label> </br>
                                {{ form.password(class_="form-control form-control-sm" ) }} </br>
                                <ul>
                                    {% for error in form.password.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </ul>
                            </div>   
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12"><label class="form-check-label"><b>{{ form.description.label}}</b></br></label> </br>
                            {{ form.description(class_="form-control form-control-sm" ) }} </br>
                            <ul>
                                {% for error in form.description.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>   
                    </div>
            
            </div>
        </div>
    </div>
</div>


<div class="container-xl px-4 mt-4">

        <div class="card mb-4 mb-xl-0 Event-Main-Box">
            
            <div class="card-header Event-Title-Box">Określ cele na poszczególne tygodnie wyzwania</div>

            <div class="card-body">
                <div class="row justify-content-left">
                    <div class="col-md-2"><label class="form-label">{{ formDist.w1.label}}</label> </br>
                        {{ formDist.w1(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w1.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                    <div class="col-md-2"><label class="form-label">{{ formDist.w2.label}}</label> </br>
                        {{ formDist.w2(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w2.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                    <div class="col-md-2"><label class="form-label">{{ formDist.w3.label}}</label> </br>
                        {{ formDist.w3(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w3.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                    <div class="col-md-2"><label class="form-label">{{ formDist.w4.label}}</label> </br>
                        {{ formDist.w4(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w4.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                    <div class="col-md-2"><label class="form-label">{{ formDist.w5.label}}</label> </br>
                        {{ formDist.w5(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w5.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                </div>  
            
            
                <div class="row justify-content-left">
                    <div class="col-md-2"><label class="form-label">{{ formDist.w6.label}}</label> </br>
                        {{ formDist.w6(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w6.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                    <div class="col-md-2"><label class="form-label">{{ formDist.w7.label}}</label> </br>
                        {{ formDist.w7(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w7.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                    <div class="col-md-2"><label class="form-label">{{ formDist.w8.label}}</label> </br>
                        {{ formDist.w8(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w8.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                    <div class="col-md-2"><label class="form-label">{{ formDist.w9.label}}</label> </br>
                        {{ formDist.w9(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w9.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                    <div class="col-md-2"><label class="form-label">{{ formDist.w10.label}}</label> </br>
                        {{ formDist.w10(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w10.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                </div>  
            
                <div class="row justify-content-left">
                    <div class="col-md-2"><label class="form-label">{{ formDist.w11.label}}</label> </br>
                        {{ formDist.w11(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w11.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                    <div class="col-md-2"><label class="form-label">{{ formDist.w12.label}}</label> </br>
                        {{ formDist.w12(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w12.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                    <div class="col-md-2"><label class="form-label">{{ formDist.w13.label}}</label> </br>
                        {{ formDist.w13(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w13.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                    <div class="col-md-2"><label class="form-label">{{ formDist.w14.label}}</label> </br>
                        {{ formDist.w14(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w14.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
                    <div class="col-md-2"><label class="form-label">{{ formDist.w15.label}}</label> </br>
                        {{ formDist.w15(class_="form-control form-control-sm") }}
                        <ul>
                            {% for error in formDist.w15.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>  
            
            
            
                <div class="row justify-content-left">
                    <div class="col-3"><button class="btn btn-dark btn-lg Main-Button" style="background-color: #182c07e8;" type="submit">
                        {% if mode == 'create' %}Utwórz!{% endif %}
                        {% if mode == 'edit' %}Zapisz zmiany!{% endif %}
                    </button></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</form>
