{% extends "pages//base.html" %}

{% block body_content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('user.static',filename='styles/account_settings.css') }}">

<div class="container-xl px-4 mt-4 Settings-Main-Box">
    <!-- Account page navigation-->
    
    {% include "includes/settings_menu.html" %}

    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0 Single-Card-Box">
                <div class="card-header">Zdjęcie profilowe</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="{{current_user.give_avatar_path() }}" alt=""> 

                    
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">
                        <a href="{{ url_for('user.rotate_avatar_left') }}"><img src="/static/pictures/rotate-left-solid.svg" alt="" width="30" height="30"></a>
                        <a href="{{ url_for('user.rotate_avatar_right') }}"><img src="/static/pictures/rotate-right-solid.svg" alt="" width="30" height="30"></a>
                    </div>
                    <div class="small font-italic text-muted mb-4">JPG lub PNG nie większe niż 5 MB</div>
                    <!-- Profile picture upload button-->
                    <form method="post" style="margin-top:30px;" enctype="multipart/form-data">
                        <div class="row justify-content-center">
                            {{ avatarForm.csrf_token }}
                            <div class="small font-italic text-muted mb-4">
                                {{ avatarForm.image }}
                                <ul>
                                    {% for error in avatarForm.image.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-dark Account-Settings-Main-Button" type="submit" style="background-color: #182c07e8; margin-left: 10px; margin-right: 10px;">Prześlij nowe zdjęcie</button>

                    </form>
                    <a href="{{ url_for('user.delete_avatar') }}">
                        <button class="btn btn-dark Account-Settings-Main-Button" style="background-color: #182c07e8; margin-left: 10px; margin-right: 10px; margin-top: 15px;">Przywróć domyślne</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4 Single-Card-Box">
                <div class="card-header">Szczegóły konta</div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1">{{ form.name.label }}</label>
                                {{ form.name(class_="form-control Input-Box" ) }}
                                <ul>
                                    {% for error in form.name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1">{{ form.last_name.label }}</label>
                                {{ form.last_name(class_="form-control Input-Box") }}
                                <ul>
                                    {% for error in form.last_name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1">Adres E-mail</label>
                            <input class="form-control Input-Box" type="text" value="{{current_user.mail}}" aria-label="Disabled input example" disabled readonly>
                            <ul>
                                {% for error in form.mail.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-dark Account-Settings-Main-Button" style="background-color: #182c07e8;" type="submit">Zapisz zmiany</button>
                    </form>
                </div>
            </div>

     
                {% include "includes/subscribe_newsletter.html" %}


        </div>
    </div>
</div>

{% endblock %}