{% extends "pages//base.html" %}

{% block body_content %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('user.static',filename='styles/dashboard.css') }}">


<div class="Static-Content">
    <div class="row Dashboard-First-Row">

        <div class="Dashboard-Main-Box">
            <img src="/static/img/icon_route.svg" class="icon-Dashboard">
            <div class="Dashboard-Value-Main-Box">
                <span class="Dashboard-Value-Title">Pokonany dystans</span>
                <span class="Dashboard-Value">{{dashboard.user_distance_sum}} km</span> 
            </div>
        </div>

        <div class="Dashboard-Main-Box">
            <img src="/static/img/icon_average.svg" class="icon-Dashboard">
            <div class="Dashboard-Value-Main-Box">
                <span class="Dashboard-Value-Title">Średni dystans</span>
                <span class="Dashboard-Value">{{dashboard.average_distance_for_event}}</span>
            </div>
        </div>

        <div class="Dashboard-Main-Box">
            <img src="/static/img/icon_average_time.svg" class="icon-Dashboard">
            <div class="Dashboard-Value-Main-Box">
                <span class="Dashboard-Value-Title">Średni czas aktywności</span>
                <span class="Dashboard-Value">{{dashboard.average_time}}</span>
            </div>
        </div>

        <div class="Dashboard-Main-Box">
            <img src="/static/img/icon_awards.svg" class="icon-Dashboard">
            <div class="Dashboard-Value-Main-Box">
                <span class="Dashboard-Value-Title">Zdobytych nagród</span>
                <span class="Dashboard-Value">{{dashboard.beers_recived_in_event}}</span>
            </div>
        </div>

    </div>

    <div class="dashBoard">

        <div class="Event-Info-Box">
            <!-- Your events details-->

            {% include "includes/dashboard_your_events.html" %}

        </div>

        <div class="Chart-Box">
            <span class="Title-Box">Postęp wyzwania</span>
            <div id="myChart"></div>
        </div>

    </div>
</div>





<script>  
    var options = {
        series: ['{{ dashboard.d1}}','{{ dashboard.d2}}', '{{ dashboard.d3}}'],
        chart: {
        height: '350px',
        type: 'radialBar',
    },
    plotOptions: {
        radialBar: {
        offsetY: 0,
        startAngle: 0,
        endAngle: 270,
        track: {
          background: '#3a3a3a'
        },
        hollow: {
            margin: 5,
            size: '40%',
            background: 'transparent',
            image: undefined,
        },
        dataLabels: {
            name: {
                show: true,
                fontSize: '13px',
            },
            value: {
                show: true,
                fontSize: '14px',
                color: '#fff',
            },
            total: {
                show: false,
                label: 'TOTAL',
                fontSize: '16px',
                color: '#fff',
            }
        }
        }
    },
    colors: ['#579956', '#21ce1e', '#8BDF32'],
    labels: ['Postęp wyzwania', 'Cel tygodniowy', 'Skuteczność'],
    legend: {
        show: true,
        floating: true,
        fontSize: '17px',
        position: 'left',
        offsetX: 50,
        offsetY: 0,
        labels: {
        useSeriesColors: true,
        },
        markers: {
        size: 0
        },
        formatter: function(seriesName, opts) {
        return seriesName
        },
        itemMargin: {
        vertical: 5
        }
    },
    responsive: [
    {
        breakpoint: 500,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 0,
            offsetY: 10,
            fontSize: '14px',
            itemMargin: {
            vertical: 0
            }
        }
        }
    },
    {
        breakpoint: 600,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 50,
            offsetY: 0,
            fontSize: '14px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    },
    {
        breakpoint: 700,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 100,
            offsetY: 0,
            fontSize: '14px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    },
    {
        breakpoint: 850,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 150,
            offsetY: 0,
            fontSize: '14px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    },  
    {
        breakpoint: 900,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 20,
            offsetY: 0,
            fontSize: '14px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    },
    {
        breakpoint: 1000,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 20,
            offsetY: 0,
            fontSize: '14px',
            itemMargin: {
            vertical: 2
            }
        }
        }
    },
    {
        breakpoint: 1200,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 30,
            offsetY: 0,
            fontSize: '16px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    },
    {
        breakpoint: 1300,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 40,
            offsetY: 0,
            fontSize: '16px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    },
    {
        breakpoint: 1400,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 50,
            offsetY: 0,
            fontSize: '16px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    },
    {
        breakpoint: 1500,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 60,
            offsetY: 0,
            fontSize: '16px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    },
    {
        breakpoint: 1600,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 70,
            offsetY: 0,
            fontSize: '16px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    },
    {
        breakpoint: 1700,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 80,
            offsetY: 0,
            fontSize: '16px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    }
    ]
    };

    var myChart = new ApexCharts(document.querySelector("#myChart"), options);
    myChart.render();
</script> 

{% endblock %}