{% extends "pages//baseNew.html" %}


{% block body_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
<div class="Static-Content">
    <form class="Login-Main-Box" method="POST">
        {{ logForm.csrf_token }}
        <div class="Login-Title">
            <span class="Login-Title-Font">
                Zaloguj
            </span>
        </div>
        <a class="Login-Social-Button" href="{{ url_for('user.loginFacebook') }}">
            <img src="static/img/icon-Facebook.webp" class="icon-social-button">
            <span class="Login-Social-Font">
                Zaloguj używając Facebooka
            </span>
        </a>
        <a class="Login-Social-Button" href="#">
            <img src="static/img/icon-Google.webp" class="icon-social-button">
            <span class="Login-Social-Font">
                Zaloguj używając konta Google
            </span>
        </a>
        <div class="Login-Optional-Way-Box">
            <div class="Login-Line-1"></div>
            <span class="Login-Optional-Way-Font">
                lub za pomocą adresu e-mail
            </span>
            <div class="Login-Line-1"></div>
        </div>
        {{ logForm.name(class_="form-control Login-Input-Email-Box", placeholder="E-mail" ) }}
        <p class="Error-Message">
            {% for error in logForm.name.errors %}
                {{ error }}
            {% endfor %}
        </p>

        {{ logForm.password(class_="form-control Login-Input-Password-Box", placeholder="Hasło" ) }}
        <ul class="Error-Message">
            {% for error in logForm.password.errors %}
                {{ error }}
            {% endfor %}
        </ul>

        <div class="Login-Remember-Me-Main-Box">
            <div class="Login-Remember-Me-Check-Box"></div>
            {{ logForm.remember(class_="Login-Remember-Me-Check-Box form-check-input" ) }}
            <span class="Login-Remember-Me-Font">
                Zapamiętaj mnie
            </span>
        </div>
        <button class="Login-Main-Button" type="submit">
            <span class="Login-Main-Button-Font">
                Zaloguj
            </span>
        </button>
        <a class="Login-Remind-Password-Button" href="{{ url_for('user.reset') }}">
            <span class="Login-Remind-Password-Font">
                Przypomnij hasło
            </span>
        </a>
    </form>

</div>


{% endblock %}
