{% extends "pages//base.html" %}

{% block body_content %}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v13.0&appId=1201203197289242&autoLogAppEvents=1" nonce="ouNwd4qu"></script>

Testowy formularz do logowania


{% macro show_provider_button(provider_id, display_name, conn) %}
    {% if conn %}
    <form method="DELETE">
      <input type="submit" value="Disconnect {{ display_name }}" />
    </form>
    {% else %}
    <form method="POST">
      <input type="submit" value="Connect {{ display_name }}" />
    </form>
    {% endif %}
{% endmacro %}

    {{ show_provider_button('twitter', 'Twitter', twitter_conn) }}

    {{ show_provider_button('facebook', 'Facebook', facebook_conn) }}



    <br><br>


  
  {% macro social_login(provider_id, display_name) %}
    <form method="POST">
      <input type="submit" value="Login with {{ display_name }}" />
    </form>
  {% endmacro %}
  
  {{ social_login('twitter', 'Twitter' )}}
  
  {{ social_login('facebook', 'Facebook' )}}


  <div class="fb-login-button" data-width="300" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="true"></div>


  <p align="center">
    <a href="google/">
    <img id="google"
       src="https://img.shields.io/badge/Google-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=google"
       alt="Google"> <br>
    </a>
    <a href="facebook/">
    <img id="facebook"
       src="https://img.shields.io/badge/Facebook-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=facebook"
       alt="Facebook"> <br>
    </a>
 </p>
  
{% endblock %}