{% extends "pages//base.html" %}


{% block body_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('user.static',filename='styles/login.css') }}">
<div class="Static-Content">
    <form class="Login-Main-Box" method="POST">
        {{ logForm.csrf_token }}
        <div class="Login-Title">
            <span class="Login-Title-Font">
                Zaloguj
            </span>
        </div>
        <a class="Login-Social-Button" href="{{ url_for('user.loginFacebook') }}">
            <img src="static/img/icon-Facebook.webp" class="icon-social-button">
            <span class="Login-Social-Font">
                Zaloguj używając Facebooka
            </span>
        </a>
        <a class="Login-Social-Button" href="{{ url_for('user.loginGoogle') }}">
            <img src="static/img/icon-Google.webp" class="icon-social-button">
            <span class="Login-Social-Font">
                Zaloguj używając konta Google
            </span>
        </a>
        <div class="Optional-Way-Box">
            <div class="Optional-Way-Line-1"></div>
            <span class="Optional-Way-Font">
                lub za pomocą adresu e-mail
            </span>
            <div class="Optional-Way-Line-1"></div>
        </div>
        {{ logForm.name(class_="form-control Input-Box", placeholder="E-mail" ) }}
        <p class="Error-Message">
            {% for error in logForm.name.errors %}
                {{ error }}
            {% endfor %}
        </p>

        {{ logForm.password(class_="form-control Input-Box", placeholder="Hasło" ) }}
        <p class="Error-Message">
            {{logForm.password.errors[0] }}

        </p>

        <div class="Checkbox-Main-Box">
            <!-- <div class="Checkbox-Box"></div> -->
            {{ logForm.remember(class_="Checkbox-Box form-check-input" ) }}
            <span class="Checkbox-Font">
                Zapamiętaj mnie
            </span>
        </div>
        <button class="Main-Button" type="submit">
            <span class="Main-Button-Font">
                Zaloguj
            </span>
        </button>
        <a class="Small-Button" href="{{ url_for('user.reset') }}">
            <span class="Small-Button-Font">
                Przypomnij hasło
            </span>
        </a>
    </form>

</div>


{% endblock %}
