{% extends "pages//baseNew.html" %}

{% block body_content %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/NewBasicDashboard.css') }}">


<div class="Static-Content">
    <div class="row Dashboard-First-Row">
        <div class="Dashboard-Main-Box">
            <img src="static/img/icon-route.webp" class="icon-Dashboard">
            <div class="Dashboard-Value-Main-Box">
                <span class="Dashboard-Value-Title">Pokonany dystans</span>
                <span class="Dashboard-Value">1162.43 km</span>
            </div>
        </div>
        <div class="Dashboard-Main-Box">
            <img src="static/img/icon-average.webp" class="icon-Dashboard">
            <div class="Dashboard-Value-Main-Box">
                <span class="Dashboard-Value-Title">Średni dystans</span>
                <span class="Dashboard-Value">442.43 km</span>
            </div>
        </div>
        <div class="Dashboard-Main-Box">
            <img src="static/img/icon-timeTime.webp" class="icon-Dashboard">
            <div class="Dashboard-Value-Main-Box">
                <span class="Dashboard-Value-Title">Średni czas aktywności</span>
                <span class="Dashboard-Value">1:45:34</span>
            </div>
        </div>
        <div class="Dashboard-Main-Box">
            <img src="static/img/icon-beer.webp" class="icon-Dashboard">
            <div class="Dashboard-Value-Main-Box">
                <span class="Dashboard-Value-Title">Zdobytych piw</span>
                <span class="Dashboard-Value">12</span>
            </div>
        </div>
    </div>

    <div class="dashBoard">
        <div class="Chart-Box">
            <span class="Title-Box">Progress wyzwania</span>
            <div id="myChart"></div>
        </div>
        <div class="col-xl-6 Event-Info-Box">
            <!-- Your events details-->
            {% include "includes/dashboard_your_events.html" %}
        </div>
    </div>
</div>





<script>  
    var options = {
        series: ['{{ d1}}','{{ d2}}', '{{ d3}}'],
        chart: {
        height: '315px',
        type: 'radialBar',
    },
    plotOptions: {
        radialBar: {
        offsetY: 0,
        startAngle: 0,
        endAngle: 270,
        track: {
          background: '#3a3a3a'
        },
        hollow: {
            margin: 5,
            size: '40%',
            background: 'transparent',
            image: undefined,
        },
        dataLabels: {
            name: {
                show: true,
            },
            value: {
                show: true,
                fontSize: '16px',
                color: '#fff',
            },
            total: {
                show: false,
                label: 'TOTAL',
                fontSize: '16px',
                color: '#fff',
            }
        }
        }
    },
    colors: ['#579956', '#21ce1e', '#9ff72cdd'],
    labels: ['Wyzwanie', 'Tydzień', 'Skuteczność'],
    legend: {
        show: true,
        floating: true,
        fontSize: '16px',
        position: 'left',
        offsetX: 120,
        offsetY: 00,
        labels: {
        useSeriesColors: true,
        },
        markers: {
        size: 0
        },
        formatter: function(seriesName, opts) {
        return seriesName + ":  " + opts.w.globals.series[opts.seriesIndex] + "%"
        },
        itemMargin: {
        vertical: 5
        }
    },
    responsive: [{
        breakpoint: 500,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 0,
            offsetY: 10,
            fontSize: '14px',
            itemMargin: {
            vertical: 0
            }
        }
        }
    },

    {
        breakpoint: 600,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 40,
            offsetY: 0,
            fontSize: '16px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    },
    
        
    {
        breakpoint: 900,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 40,
            offsetY: 30,
            fontSize: '16px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    },
    {
        breakpoint: 1200,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 20,
            offsetY: 13,
            fontSize: '16px',
            itemMargin: {
            vertical: 3
            }
        }
        }
    },
    {
        breakpoint: 1000,
        options: {
        legend: {
            show: true,
            floating: true,
            offsetX: 0,
            offsetY: 5,
            fontSize: '14px',
            itemMargin: {
            vertical: 2
            }
        }
        }
    }]
    };

    var myChart = new ApexCharts(document.querySelector("#myChart"), options);
    myChart.render();
</script> 

{% endblock %}