{% extends "pages//baseNew.html" %}


{% block body_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
<div class="Static-Content">
    <div class="Login-Main-Box">
        <div class="Login-Title">
            <span class="Login-Title-Font">
                Zaloguj
            </span>
        </div>
        <div class="Login-Social-Button">
            <img src="static/img/icon-Facebook.webp" class="icon-social-button">
            <span class="Login-Social-Font">
                Zaloguj używając Facebooka
            </span>
        </div>
        <div class="Login-Social-Button">
            <img src="static/img/icon-Google.webp" class="icon-social-button">
            <span class="Login-Social-Font">
                Zaloguj używając konta Google
            </span>
        </div>
        <div class="Login-Optional-Way-Box">
            <div class="Login-Line-1"></div>
            <span class="Login-Optional-Way-Font">
                lub za pomocą adresu e-mail
            </span>
            <div class="Login-Line-1"></div>
        </div>
        <div class="Login-Input-Email-Box">
            <span class="Login-Input-Font">
                Adres e-mail
            </span>
        </div>
        <div class="Login-Input-Password-Box">
            <span class="Login-Input-Font">
                Hasło
            </span>
        </div>
        <div class="Login-Remember-Me-Main-Box">
            <div class="Login-Remember-Me-Check-Box"></div>
            <span class="Login-Remember-Me-Font">
                Zapamiętaj mnie
            </span>
        </div>
        <div class="Login-Main-Button">
            <span class="Login-Main-Button-Font">
                Zaloguj
            </span>
        </div>
        <div class="Login-Remind-Password-Button">
            <span class="Login-Remind-Password-Font">
                Przypomnij hasło
            </span>
        </div>
    </div>

</div>


{% endblock %}
