{% extends "pages//baseNew.html" %}


{% block body_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/newUserForm.css') }}">
<div class="Static-Content">
    <form class="Login-Main-Box" method="POST">
        {{ form.csrf_token }}
        <div class="Login-Title">
            <span class="Login-Title-Font">
                Załóż konto
            </span>
        </div>
        <a class="Login-Social-Button" href="{{ url_for('user.loginFacebook') }}">
            <img src="static/img/icon-Facebook.webp" class="icon-social-button">
            <span class="Login-Social-Font">
                Zarejestruj używając Facebooka
            </span>
        </a>
        <a class="Login-Social-Button" href="#">
            <img src="static/img/icon-Google.webp" class="icon-social-button">
            <span class="Login-Social-Font">
                Zarejestruj używając konta Google
            </span>
        </a>
        <div class="Optional-Way-Box">
            <div class="Optional-Way-Line-1"></div>
            <span class="Optional-Way-Font">
                lub za pomocą adresu e-mail
            </span>
            <div class="Optional-Way-Line-1"></div>
        </div>

        <div class="row justify-content-center Input-Row1">
            <div class="col Input-Col1">
                {{ form.name(class_="form-control Input-Row-Box", placeholder="Imię" ) }}
                <p class="Error-Message">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            </div>
            <div class="col Input-Col1">
                {{ form.name(class_="form-control Input-Row-Box", placeholder="Nazwisko" ) }}
                <p class="Error-Message">
                    {% for error in form.lastName.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            </div>
        </div>

        {{ form.mail(class_="form-control Input-Box", placeholder="Adres e-mail" ) }}
        <p class="Error-Message">
            {% for error in form.mail.errors %}
                {{ error }}
            {% endfor %}
        </p>

        {{ form.password(class_="form-control Input-Box", placeholder="Hasło" ) }}
        <p class="Error-Message">
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
        </p>

        {{ form.verifyPassword(class_="form-control Input-Box", placeholder="Powtórz hasło" ) }}
        <p class="Error-Message">
            {% for error in form.verifyPassword.errors %}
                {{ error }}
            {% endfor %}
        </p>

        <div class="Checkbox-Main-Box">
            <div class="Checkbox-Box"></div>
            <span class="Checkbox-Font">
                Akceptuję regulamin serwisu
            </span>
        </div>
        <button class="Main-Button" type="submit">
            <span class="Main-Button-Font">
                Załóż konto
            </span>
        </button>
    </form>

</div>


{% endblock %}
