{% extends "pages//baseNew.html" %}

{% block body_content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/accountSettings.css') }}">

<div class="container-xl px-4 mt-4 Settings-Main-Box"">
    <!-- Account page navigation-->
    <nav class="nav nav-borders rounded Small-Navbar" style="background-color: rgba(224, 153, 94);">
        <a class="nav-link active ms-0" href="{{ url_for('user.settings') }}" style="color: #182c07e8;">Dane podstawowe</a>
        <a class="nav-link active" href="{{ url_for('user.passwordChange') }}" style="color: #182c07e8;">Prywatność</a>
        <a class="nav-link" href="#" style="color: #182c07e8;">Inne</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-lg-8">
            <!-- Change password card-->
            <div class="card mb-4 Single-Card-Box">
                <div class="card-header">Zmień hasło</div>
                <div class="card-body">
                    <form method="POST">
                        {{ form.csrf_token }}
                        <!-- Form Group (current password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="currentPassword">{{ form.oldPassword.label }}</label>
                            {{ form.oldPassword(class_="form-control" ) }}
                            <ul>
                                {% for error in form.oldPassword.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Form Group (new password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="newPassword">{{ form.newPassword.label }}</label>
                            {{ form.newPassword(class_="form-control" ) }}
                            <ul>
                                {% for error in form.newPassword.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="confirmPassword">{{ form.verifyNewPassword.label }}</label>
                            {{ form.verifyNewPassword(class_="form-control" ) }}
                            <ul>
                                {% for error in form.verifyNewPassword.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>
                        <button class="btn btn-dark" type="submit" style="background-color: #182c07e8;">Zapisz zmiany</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
          
        <!-- Delete account card-->
        <div class="card mb-4 Single-Card-Box">
            <div class="card-header">Usuń konto</div>
                <div class="card-body">
                    <p>Usunięcie konta jest czynnością trwałą i nie można jej cofnąć. Jeśli jesteś pewien, że chcesz usunąć swoje konto, wybierz przycisk poniżej.</p>
                    <button class="btn btn-danger-soft text-danger" type="button">Rozumiem, usuń moje konto</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}