{% extends "pages//base.html" %}

{% block body_content %}

<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuwanie konta w aplikacji</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="idDeleteModalBody">
        ...
        </div>
        <div class="modal-footer">
            <form action="" method="GET" id="confirmDeleteForm">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <button type="submit" class="btn btn-danger">Usuń konto</button>
            </form>
        </div>
    </div>
    </div>
</div>

 <!-- // Delete -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script> 
     $(document).ready(function () { 
         // For A Delete Record Popup 
         // This function is applied to all elements with class ending with ".delete-confirm" 
         $('.delete-confirm').click(function () { 
             // get attributes of the found element 
             var desc = $(this).attr('data-desc'); 
             var url = $(this).attr('data-url'); 
             // the #... designates id of an element - change the text in the modal window 
             $('#idDeleteModalBody').text(desc); 
             $("#confirmDeleteForm").attr("action", url); 
         }); 
     }); 
 </script>


<link rel= "stylesheet" type= "text/css" href= "{{ url_for('user.static',filename='styles/account_settings.css') }}">

<div class="container-xl px-4 mt-4 Settings-Main-Box">
    <!-- Account page navigation-->

    {% include "includes/settings_menu.html" %}

    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-lg-8">
            <!-- Change password card-->
            <div class="card mb-4 Single-Card-Box">
                <div class="card-header">Zmień hasło</div>
                <div class="card-body">
                    <form method="POST">
                        {{ form.csrf_token }}
                        <!-- Form Group (current password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="currentPassword">{{ form.oldPassword.label }}</label>
                            {{ form.oldPassword(class_="form-control Input-Box" ) }}
                            <ul>
                                {% for error in form.oldPassword.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Form Group (new password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="newPassword">{{ form.newPassword.label }}</label>
                            {{ form.newPassword(class_="form-control Input-Box" ) }}
                            <ul>
                                {% for error in form.newPassword.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="confirmPassword">{{ form.verifyNewPassword.label }}</label>
                            {{ form.verifyNewPassword(class_="form-control Input-Box" ) }}
                            <ul>
                                {% for error in form.verifyNewPassword.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>
                        <button class="btn btn-dark Account-Settings-Main-Button" type="submit" style="background-color: #182c07e8;">Zapisz zmiany</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
          
            <!-- Delete account card-->
            <div class="card mb-4 Single-Card-Box">
                <div class="card-header">Usuń konto</div>
                <div class="card-body">
                    <p>Usunięcie konta jest czynnością trwałą i nie można jej cofnąć. Jeśli jesteś pewien, że chcesz usunąć swoje konto, wybierz przycisk poniżej.</p>

                    <!-- Button trigger modal -->
                    <a type="button" class="btn btn-danger-soft text-danger delete-confirm" 
                        data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                        data-desc="{{ 'Na pewno chcesz usunąć swoje konto? Pamiętaj, że jest to proces nieodwracalny!' }}"
                        data-url="{{ url_for('user.delete_user', user_id=current_user.id )}}">
                        Rozumiem, usuń moje konto
                    </a>
                </div>    
            </div>
        </div>
    </div>
</div>


{% endblock %}