{% extends "pages//base.html" %}

{% block body_content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('user.static',filename='styles/reset_password.css') }}">



<div class="col-md-3"></div>
    <div class="col-lg-6 ResetPassword-Main-Box">
        <!-- Change password card-->
        <div class="card mb-4 ResetPassword-Box">
            <div class="card-header ResetPassword-Title">Wprowadź nowe hasło</div>
            <div class="card-body">
                <form method="POST">
                    {{ form.csrf_token }}
                    
                    <!-- Form Group (new password)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="newPassword">{{ form.newPassword.label }}</label>
                        {{ form.newPassword(class_="form-control Input-Row-Box" , placeholder="Hasło")  }}
                        <ul>
                            {% for error in form.newPassword.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Form Group (confirm password)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="confirmPassword">{{ form.verifyNewPassword.label }}</label>
                        {{ form.verifyNewPassword(class_="form-control Input-Row-Box", placeholder="Powtórz hasło") }}
                        <ul>
                            {% for error in form.verifyNewPassword.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>
                    <button class="btn btn-dark ResetPassword-Button" type="submit" style="background-color: #182c07e8;">Zapisz zmiany</button>
                </form>
            </div>
        </div>
    </div>
<div class="col-md-3"></div>

{% endblock %}