{% extends "pages//baseNew.html" %}

{% block body_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('user.static',filename='styles/unconfirmed.css') }}">

<div class="Static-Content">
    <div class="Title-Unconfirmed">Konto nie potwierdzone</div>
    <div class="Unconfirmed-Box">
        <div class="Unconfirmed-Text">
            <span class="Unconfirmed-Font">
            <h1>
                Witaj {{current_user.name}}!
            </h1>
            <h3>Twoje konto nie zostało jeszcze potwierdzone.</h3>
            <p>
                Zanim uzyskasz pełny dostęp do tej strony musisz potwierdzić swoje konto.
                Sprawdź skrzynkę pocztową, powinieneś  otrzymać wiadomość e-mail z linkiem potwierdzającym.
            </p>
            <p>
                Potrzebujesz nowego linka potwierdzającego?
                <a href="{{ url_for('user.sendTokenAgain')  }}">Kliknij tutaj</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}