{% extends "pages//baseNew.html" %}

{% block body_content %}

<!-- Site css sheet -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/verifyEmail.css') }}">

<div class="Static-Content">

    <div class="container box">
        <div class="row box-header">
           <span class="box-header-font"> Przypomnij hasło</span>
        </div>

        <form method="POST">
            <div class="row justify-content-center">
                {{ form.csrf_token }}

                <div class="col">
                    <label class="box-text">Wpisz swój adres e-mail. Otrzymasz na niego instrukcję, która pomoże Ci utworzyć nowe hasło.</label>
                    {{ form.mail(class_="form-control email-form" , placeholder="Adres e-mail" ) }}
                    <div class="row justify-content-center">
                        <div class="Error-Message">
                            {% for error in form.mail.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <button class="reset-button" type="submit">
                            Przypomnij hasło
                        </button>
                    </div>
                     
                    <div class="row justify-content-center">
                        <a class="Small-Button" href="{{ url_for('other.hello') }}" >
                            <span class="Small-Button-Font">
                            Cofnij
                            </span>
                        </a>
                    </div>

                </div>

            </div>
        </form>

    </div>

</div>

{% endblock %}

