{% extends "pages//base.html" %}

{% block body_content %}

<div class="container-xl px-4 mt-4">
    <div class="card-header" style="background-color: rgba(224, 153, 94);">
        <b>{{ name }}</b>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuwanie rekordu danych</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="idDeleteModalBody">
        ...
        </div>
        <div class="modal-footer">
            <form action="" method="GET" id="confirmDeleteForm">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <button type="submit" class="btn btn-danger">Usuń sport</button>
            </form>
        </div>
    </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script> 
    $(document).ready(function () { 
        // For A Delete Record Popup 
        // This function is applied to all elements with class ending with ".delete-confirm" 
        $('.delete-confirm').click(function () { 
            // get attributes of the found element 
            var desc = $(this).attr('data-desc'); 
            var url = $(this).attr('data-url'); 
            // the #... designates id of an element - change the text in the modal window 
            $('#idDeleteModalBody').text(desc); 
            $("#confirmDeleteForm").attr("action", url); 
        }); 
    }); 
</script>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <div class="table-responsive-md">
                <table class="table table-sm table-secondary table-striped table-hover" style="margin-top: 30px; border-radius: 50px;">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Aktywność</th>
                        <th scope="col">Wartość</th>
                        <th scope="col">Stała / Współczynnik</th>
                        <th scope="col">Akcje</th>

                    </tr>
                    </thead>
                    <tbody>
                        {% for activity in CoefficientsSet: %}
                        <tr>
                            <td scope="row">{{loop.index}}</td>
                            <td>{{activity.activityName}}</td>
                            <td>{{activity.value}}</td>
                            <td>
                                {% if activity.constant == True %}
                                Stała
                                {% else %}
                                Współczynnik
                                {% endif %}
                            </td>
                            <td><a href="{{ url_for('modifyCoeficientSport', coeficientID=activity.id) }}"  type="button" class="btn btn-sm delete-confirm" style="background-color: rgba(224, 153, 94); color:white">  Edytuj  </a>
                                <a type="button" class="btn btn-danger btn-sm delete-confirm" 
                                data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                                data-desc="{{ 'Napewno chcesz usunać współczynnik dla : {}?'.format(activity.activityName) }}"
                                data-url="{{ url_for('deleteCoeficientSport', coeficientID=activity.id )}}">
                                Usuń
                            </a></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if name == "Podstawowy zestaw współczynników" %}
            <a href="{{ url_for('addNewSport') }}"  type="button" class="btn btn delete-confirm" style="background-color: #182c07e8; color:white">Dodaj nowy sport  </a>
            {% endif %}
        </div>

    </div>

</div>

{% endblock %}