{% extends "pages//base.html" %}

{% block body_content %}

<!-- Site css sheet -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

<div class="Static-Content">
    <div class="Title-index">Witaj Sportowy Świrze!</div>



    <div class="Subtitle-index">
            Zmierz się ze swoimi lenistwem i nieregularnością, zbuduj kondycję i baw się wspólnie z przyjaciółmi!
    </div>

    <a class="Register-Button" href="{{ url_for('user.create_account') }}">
            <div class="Register-Button-font">Załóż konto</div>
    </a>

    <div class="row row-boxes">
        

        <a href="{{ url_for('other.history') }}" class="col Content-Box ">
            <div class="d-flex justify-content-center">
                <img src="static\img\icon_main_bulb.svg" class="icon" >
            </div>
            <div class="box-header">
                Jak to się zaczęło?
            </div>

            <div class="box-text">
                Dowiedz się jak czas pandemii popchnął nas do stworzenia sportowego wyzwania, które z czasem przekształciło się w Sportowe Świry.
            </div>
        </a>
        
        
        <a href="{{ url_for('other.how_it_works') }}" class="col Content-Box ">
            <div class="d-flex justify-content-center">
                <img src="static\img\icon_main_friends.svg" class="icon">
            </div>
            <div class="box-header">
                O co w tym chodzi?
            </div>

            <div class="box-text">
                Sprawdź jak szybko możesz założyć konto, stworzyć swoje własne wyzwanie i zacząć zabawę ze znajomymi!
            </div>
        </a>


        <a href="{{ url_for('user.login') }}" class="col Content-Box ">
            <div class="d-flex justify-content-center">
                <img src="static\img\icon_main_timer.svg" class="icon">
            </div>
            <div class="box-header">
                W czym to mi pomoże?
            </div>

            <div class="box-text">
                Zbieraj statystyki swoich aktywności, patrz jak rośnie Twoja kondycja, i&nbspodkryj o ile skróciłeś czas na 5 km w ciągu roku!
            </div>
        </a>
    </div>      
</div>
 


{% endblock %}