{% extends "pages//baseNew.html" %}

{% block body_content %}

<!-- Site css sheet -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

<div class="Static-Content">
    <div class="Title-index">Witaj Sportowy Świrze!</div>



    <div class="Subtitle-index">
            Zmierz się ze swoimi lenistwem i nieregularnością, zbuduj kondycję i baw się wspólnie z przyjaciółmi!
    </div>

    <a class="Register-Button" href="{{ url_for('user.createAccount') }}">
            <div class="Register-Button-font">Załóż konto</div>
    </a>

    <div class="row row-boxes">
        <div class="col Content-Box ">

            <div class="d-flex justify-content-center">
                <img src="static\img\timmer_icon.webp" class="icon">
            </div>
            <div class="box-header">
                Śledź swoje postępy
            </div>

            <div class="box-text">
                Zbieraj statystyki swoich aktywności, patrz jak rośnie Twoja kondycja, i zdziw się ile rok temu zajmowało Ci przebiegnięcie 5 kilometrów.
            </div>

        </div>

        <div class="col Content-Box">

            <div class="d-flex justify-content-center">
                <img src="static\img\winner_icon.webp" class="icon">
            </div>
            <div class="box-header">
                Baw się ze znajomymi
            </div>

            <div class="box-text">
                Zapisz się do własnego wyzwania, aby wspólnie z przyjaciółmi motywować się do regularniej aktywności fizycznej i razem budować formę.
            </div>

        </div>

        <div class="col Content-Box">

            <div class="d-flex justify-content-center">
                <img src="static\img\beer_icon.webp" class="icon">
            </div>
            <div class="box-header">
                Odbieraj nagrody
            </div>

            <div class="box-text">
                Napij się zasłużonego piwa za każdy tydzień wyzwania, w którym uda Ci się zrealizować cel (w odróżnieniu od Twoich znajomych). 
            </div>

        </div>
    </div>      

</div>
 


{% endblock %}