body {
    background: linear-gradient(rgb(38,38,38,0.7), rgb(38,38,38,0.7)), url("/static/img/bg_verifyEmailSent.webp") no-repeat center fixed;
    min-height: 100%;
}

.Add-Activity-Title {
    background-color: #000 !important;
    height: 41px;
    flex-grow: 0;
    font-family: Lato;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border-radius: 0 !important;
    display: flex;
    /* margin: auto; */
    text-align: center;
    justify-content: center;
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 10px;

}


.Add-Activity-Input {
    margin-left: 20px;
    margin-right: 20px;

}

.Event-Main-Box {
    margin-top: 25px;
}

.Main-Button {
    display: flex;
    width: 60%;
    max-width: 399px;
    height: 56px;
    margin: auto !important;
    border-radius: 15px;
    background-color: #579956 !important;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #579956;
    justify-content: center;
  }




  .Login-Main-Box {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 0 11px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #efefef;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .Login-Title {
    width: 100%;
    height: 61px;
    flex-grow: 0;
    background-color: #000;
    display: flex;
    margin-bottom: 10px;
  }


  .Login-Title-Font {
    /* width: 98px; */
    height: 36px;
    flex-grow: 0;
    font-family: Lato;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: auto;
    text-decoration: none;
  }


.Main-Button:hover {
    background-color: #000 !important;
  }


  .Strava-Button {
    width: 33%;
    height: 48px;
    margin: 23px 0 0 0;
    margin-left: 33%;
    border-radius: 10px;
    background-image: url("/static/img/btn_strava_connectwith_light.png");
    background-size: contain;
    background-repeat: no-repeat;
  }


  .Strava-Button:hover {
    width: 40%;
    margin-left: 30%;
  }

/* FOR SMALL SCREENS */
@media(max-width: 850px) {


    .Add-Activity-Container {
        margin-bottom: 20px;
    }

    .Event-Main-Box {
        margin-bottom: 100px !important;
    }

    .Main-Button {
        width: 80%;
      }

    .Login-Main-Box {
        width: 85%;
        max-width: 650px;
        margin-bottom: 0px;
    }
    
  
}