{% extends "pages//baseNew.html" %}


   

{% block body_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/eventsList.css') }}">


 <!-- Modal -->
 <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">www}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="idDeleteModalBody">
        </div>
        <div class="modal-footer">
            <form action="" method="GET" id="confirmDeleteForm">
                <button type="submit" class="btn" style="background-color: rgba(224, 153, 94); color:white">Zapisz się!</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </form>
        </div>
    </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script> 
    $(document).ready(function () { 
        // For A Delete Record Popup 
        // This function is applied to all elements with class ending with ".delete-confirm" 
        $('.delete-confirm').click(function () { 
            // get attributes of the found element 
            var desc = $(this).attr('data-desc'); 
            var url = $(this).attr('data-url'); 
            // the #... designates id of an element - change the text in the modal window 
            $('#idDeleteModalBody').text(desc); 
            $("#confirmDeleteForm").attr("action", url); 
        }); 
    }); 
</script>


<div class="container-xl px-4 mt-4 Settings-Main-Box">
    <nav class="nav nav-borders rounded Small-Navbar" style="background-color: rgba(224, 153, 94);">
        <span class="nav-link"  style="color: #579956;"><b>Dostępne wyzwania</b></span>
    </nav>
</div>


<div class="container">
    <div class="row">

            {% for event in events: %}
            
            <div class="event-box">

                <div class="Title-Row"><h3>{{ event.name }}</h3></div>
                <div class ="Main-Box">

                    <div class="col-7">


                        <h6><b>Start: </b> {{event.start}}</h6>
                        <h6><b>Koniec: </b> {{event.end}}</h6> 
                        <h6><b>Długość: </b> {{event.length_weeks}} tygodni</h6> 

                    </div>
                    
                    <div class="col" style="padding-right:5%; padding-left: 5%;">
                        <div class = 'row'>
                            <a href="{{ url_for('event.join_event', event_id = event.id )}}" type="button" class="btn btn-success Main-Button" style="background-color: #182c07e8;">Zapisz się!</a>
                        </div>
                        <div class = 'row'>
                            <a href="{{ url_for('event.event_preview', event_id = event.id )}}" type="button" class="btn btn Details-Button" style="background-color: rgba(224, 153, 94);">Szczegóły</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

    </div>
</div>

{% endblock %}