{% extends "pages//baseNew.html" %}


   

{% block body_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/eventsList.css') }}">


 <!-- Modal -->
 <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">www}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="idDeleteModalBody">
        </div>
        <div class="modal-footer">
            <form action="" method="GET" id="confirmDeleteForm">
                <button type="submit" class="btn" style="background-color: rgba(224, 153, 94); color:white">Zapisz się!</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </form>
        </div>
    </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script> 
    $(document).ready(function () { 
        // For A Delete Record Popup 
        // This function is applied to all elements with class ending with ".delete-confirm" 
        $('.delete-confirm').click(function () { 
            // get attributes of the found element 
            var desc = $(this).attr('data-desc'); 
            var url = $(this).attr('data-url'); 
            // the #... designates id of an element - change the text in the modal window 
            $('#idDeleteModalBody').text(desc); 
            $("#confirmDeleteForm").attr("action", url); 
        }); 
    }); 
</script>


<div class="container-xl px-4 mt-4 Settings-Main-Box">
    <nav class="nav nav-borders rounded Small-Navbar" style="background-color: rgba(224, 153, 94);">
        <span class="nav-link" href="#"  style="color: white;">Dostępne wyzwania</span>
    </nav>
</div>


<div class="container">
    <div class="row d-flex justify-content-cente">
            
            
            {% for event in events: %}
            
            <div class="col-md-1"></div>
            <div class="col-4">
                <div class="row pt-3"></div>

                <div class="row border bg-light Title-Row"><h4><center>{{ event.name }}</center></h4></div>
                <div class ="row border Main-Box">
                    <div class="col-9">
                        <div class="row pt-2"></div>
                        <h6><b>Początek: </b> {{event.start}}</h6>
                        <h6><b>Koniec: </b> {{event.end}}</h6> 
                        <h6><b>Długość: </b> {{event.lengthWeeks}} tygodni</h6> 
                    </div>
                    
                    <div class="row">
                        <div class="p-2"> </div>
                        <div class="col-2"></div>
                        <div class="col-5"> <a href="{{ url_for('event.joinEvent', eventID=event.id )}}" type="button" class="btn btn-success Main-Button" style="background-color: #182c07e8;">Zapisz się!</a></div>
                        <div class="col-5"> <a href="{{ url_for('event.eventPreview', eventID=event.id )}}" type="button" class="btn btn Details-Button" style="background-color: rgba(224, 153, 94);">Szczegóły</a></div>
                        <div class="col-1"></div>
                        <div class="p-2"> </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-1"></div>
            {% endfor %}

    </div>
</div>

{% endblock %}