{% extends "pages//baseNew.html" %}


   

{% block body_content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('event.static',filename='styles/event_new.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_common.css') }}">

<div class="container-xl px-4 mt-4 Settings-Main-Box">
    <nav class="nav nav-borders rounded Small-Navbar">
        <span class="nav-link"  style="color: #579956;"><b>Stwórz nowe wyzwanie</b></span>
    </nav>
</div>


{% include "includes/new_event_form.html" %}
<div class="clear"></div>


{% endblock %}