{% extends "pages//base.html" %}

{% block body_content %}

 <!-- Modal -->
 <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Potwierdzenie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="idDeleteModalBody">
            ...
        </div>
        <div class="modal-footer">
            <form action="" method="GET" id="confirmDeleteForm">
                <button type="submit" class="btn" style="background-color: rgb(237, 34, 20); color:white">Wypisz się!</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </form>
        </div>
    </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script> 
    $(document).ready(function () { 
        // For A Delete Record Popup 
        // This function is applied to all elements with class ending with ".delete-confirm" 
        $('.delete-confirm').click(function () { 
            // get attributes of the found element 
            var desc = $(this).attr('data-desc'); 
            var url = $(this).attr('data-url'); 
            // the #... designates id of an element - change the text in the modal window 
            $('#idDeleteModalBody').text(desc); 
            $("#confirmDeleteForm").attr("action", url); 
        }); 
    }); 
</script>

<div class="container-xl px-4 mt-4">
    <nav class="nav nav-borders rounded" style="background-color: rgba(224, 153, 94);">
        
        <a class="nav-link " href="{{ url_for('event.yourEvents', mode='ongoing') }}"  style="color: #182c07e8;"><b>Twoje wyzwania</b></a>
        <a class="nav-link " href="{{ url_for('event.yourEvents', mode='ongoing') }}"  style="color: #182c07e8;">Aktualne</a>
        <a class="nav-link " href="{{ url_for('event.yourEvents', mode='finished') }}"  style="color: #182c07e8;">Zakończone</a>
        <a class="nav-link " href="{{ url_for('event.yourEvents', mode='all') }}"  style="color: #182c07e8;">Wszystkie</a>

    </nav>
</div>



<div class="container">
    <div class="row row-cols-auto">
    <div class="col-1"></div>
    <div class="col-11">
        <div class="row row-cols-auto">
            
            
            {% for event in events: %}

            {% if mode == "all" %}
            
            <div class="col-4">
                <div class="row pt-3"></div>

                <div class="row border bg-light"><h3><center>{{ event.name }}</center></h3></div>
                <div class ="row border">
                    <div class="col-9">
                        <div class="row pt-2"></div>
                        <h6><b>Początek: </b> {{event.start}}</h6>
                        <h6><b>Koniec: </b> {{event.end}}</h6> 
                        <h6><b>Status: </b> {{event.status}}</h6> 
                    </div>
                    
                    <div class="row">
                        <div class="p-2"> </div>
                        <div class="col-2"></div>
                        <div class="col"><a href="{{ url_for('event.viewEvent', eventID=event.id )}}" type="button" class="btn" style="background-color: rgba(224, 153, 94); color:white">Szczegóły</a></div>
                        {% if event.status == "Zapisy otwarte"%}
                        <div class="col-5">
                            <a type="button" class="btn btn-danger btn delete-confirm"
                            data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                            data-desc="Czy na pewno chesz opuścić wyzwanie {{event.name}}?">
                            Opuść wyzwanie</a>
                        </div>
                        {% endif %}
                        <div class="col-2"></div>
                        <div class="p-2"> </div>
                    </div>
                </div>
                
            </div>
            <div class ="col-1"> </div>
            {% endif %}


            {% if event.status != "Zakończone" and mode == "ongoing" %}
            
            <div class="col-4">
                <div class="row pt-3"></div>

                <div class="row border bg-light"><h3><center>{{ event.name }}</center></h3></div>
                <div class ="row border">
                    <div class="col-9">
                        <div class="row pt-2"></div>
                        <h6><b> Początek: </b> {{event.start}}</h6>
                        <h6><b>Koniec: </b> {{event.end}}</h6> 
                        <h6><b>Status: </b> {{event.status}}</h6> 
                    </div>
                    
                    <div class="row">
                        <div class="p-2"> </div>
                        <div class="col-2"></div>
                        <div class="col"><a href="{{ url_for('event.viewEvent', eventID=event.id )}}" type="button" class="btn" style="background-color: rgba(224, 153, 94); color:white">  Szczegóły  </a></div>
                        {% if event.status == "Zapisy otwarte"%}
                        <div class="col-5">
                            <a type="button" class="btn btn-danger btn delete-confirm"
                            data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                            data-desc="Czy na pewno chesz opuścić wyzwanie {{event.name}}?"
                            data-url="{{ url_for('event.leaveEvent', eventID=event.id )}}">
                            Opuść wyzwanie</a>
                        </div>
                        {% endif %}
                        <div class="col-4"></div>
                        <div class="p-2"> </div>
                    </div>
                </div>
                
            </div>
            <div class ="col-1"> </div>
            {% endif %}

            {% if event.status == "Zakończone" and mode == "finished" %}
            
            <div class="col-4">
                <div class="row pt-3"></div>

                <div class="row border bg-light"><h3><center>{{ event.name }}</center></h3></div>
                <div class ="row border">
                    <div class="col-9">
                        <div class="row pt-2"></div>
                        <h6><b> Początek: </b> {{event.start}}</h6>
                        <h6><b>Koniec: </b> {{event.end}}</h6> 
                        <h6><b>Status: </b> {{event.status}}</h6> 
                    </div>
                    
                    <div class="row">
                        <div class="p-2"> </div>
                        <div class="col-4"></div>
                        <div class="col"><a href="{{ url_for('event.viewEvent', eventID=event.id )}}" type="button" class="btn" style="background-color: rgba(224, 153, 94); color:white">  Szczegóły  </a></div>
                        <div class="col-4"></div>
                        <div class="p-2"> </div>
                    </div>
                </div>
                
            </div>
            <div class ="col-1"> </div>
            {% endif %}


            {% endfor %}
        </div>
    </div>
    </div>
</div>

{% endblock %}