{% extends "pages//base.html" %}

{% block body_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('event.static',filename='styles/events_list.css') }}">

 <!-- Modal -->
 <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Potwierdzenie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="idDeleteModalBody">
            ...
        </div>
        <div class="modal-footer">
            <form action="" method="GET" id="confirmDeleteForm">
                <button type="submit" class="btn btn-danger" id="idConfirmButton">...</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </form>
        </div>
    </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script> 
    $(document).ready(function () { 
        // For A Delete Record Popup 
        // This function is applied to all elements with class ending with ".delete-confirm" 
        $('.delete-confirm').click(function () { 
            // get attributes of the found element 
            var button = $(this).attr('data-button')
            var desc = $(this).attr('data-desc'); 
            var url = $(this).attr('data-url'); 
            // the #... designates id of an element - change the text in the modal window 
            $('#idDeleteModalBody').text(desc); 
            $("#confirmDeleteForm").attr("action", url); 
            $('#idConfirmButton').text(button); 
        }); 
    }); 
</script>

<div class="container-xl px-4 mt-4 Settings-Main-Box">
    <nav class="nav nav-borders rounded Small-Navbar" style="background-color: rgba(224, 153, 94);">

        <span class="nav-link"  style="color: #579956;"><b>Twoje wyzwania</b></span> 

        {% if mode=='ongoing': %}
            <a class="nav-link " href="{{ url_for('event.your_events', mode='ongoing') }}"  style="color: white; background-color: #579956;">Aktualne</a>
        {% else %}
            <a class="nav-link " href="{{ url_for('event.your_events', mode='ongoing') }}"  style="color: white;">Aktualne</a>
        {% endif %}

        {% if mode=='finished': %}
            <a class="nav-link " href="{{ url_for('event.your_events', mode='finished') }}"  style="color: white; background-color: #579956;">Zakończone</a>
        {% else %}
            <a class="nav-link " href="{{ url_for('event.your_events', mode='finished') }}"  style="color: white;">Zakończone</a>
        {% endif %}

    
        {% if mode=='future': %}
            <a class="nav-link " href="{{ url_for('event.your_events', mode='future') }}"  style="color: white; background-color: #579956;">Przyszłe</a>
        {% else %}
            <a class="nav-link " href="{{ url_for('event.your_events', mode='future') }}"  style="color: white;">Przyszłe</a>
        {% endif %}

        {% if mode=='all': %}
            <a class="nav-link " href="{{ url_for('event.your_events', mode='all') }}"  style="color: white; background-color: #579956;">Wszystkie</a>
        {% else %}
            <a class="nav-link " href="{{ url_for('event.your_events', mode='all') }}"  style="color: white;">Wszystkie</a>
        {% endif %}



    </nav>
</div>


<div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; width:100%;">
        {% if events != None %}

        {% for event in events: %}

        <div class="event-box">

            <div class = "Title-Row"><h3>{{ event.name }}</h3></div>
            <div class = "Main-Box">

                    <div class="col-7">

                        <h6><b>Start: </b> {{event.start}}<br></h6>
                        <h6><b>Koniec: </b> {{event.end}}</h6>
                        <h6><b>Status: </b> {{event.status_description}}</h6>
                        <h6><b>Organizator: </b> {{event.admin.name}} {{event.admin.last_name}} </h6>

                    </div>

                    <div class="col" style="padding-right:5%; padding-left: 5%;">
                        <div class = 'row'>
                            <a href="{{ url_for('event.event_main', event_id=event.id )}}" type="button" class="btn Main-Button" style="color:white">Szczegóły</a>
                        </div>
                        {% if event.status in ["0"] %}
                            
                            <div class = 'row'>
                                <a href="#" type="button" class="btn Main-Button" style="color:white" onclick="copyText()">Udostępnij!</a>
                            </div>
                            
                            {% if event.admin_id != current_user.id %}
                                <div class = 'row'>
                                    <a type="button" class="btn btn-danger btn delete-confirm"
                                    data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                                    data-desc="Czy na pewno chesz opuścić wyzwanie {{event.name}}?"
                                    data-url="{{ url_for('event.leave_event', event_id = event.id )}}"
                                    data-button = "Opuść">
                                    Opuść</a>
                                </div>  
                            {% endif %}
                            
                            {% if event.admin_id == current_user.id and event.current_users_amount == 1 %}
                            <div class = 'row'>
                                <a type="button" class="btn btn-danger btn delete-confirm"
                                data-bs-toggle = "modal" data-bs-target="#confirmDeleteModal"
                                data-desc="Czy na pewno chesz usunąć wyzwanie {{event.name}}?"
                                data-url  ="{{ url_for('event.admin_delete_event', event_id = event.id )}}"
                                data-button = "Usuń">
                                Usuń wyzwanie</a>
                            </div>  
                        {% endif %}

                         {% endif %}

                    </div>
                </div>
            </div> 

            <script>
                function copyText() {
                
                    /* Copy text into clipboard */
                    navigator.clipboard.writeText
                        ("https://sportoweswiry.com.pl{{ url_for('event.event_preview', event_id=event.id) }}");
                    alert("Skopiowano link do wydarzenia!")
                }
            </script>
        {% endfor %}
    {% endif %}
</div>



{% endblock %}