body {
    background: linear-gradient(rgb(38,38,38,0.7), rgb(38,38,38,0.7)), url("/static/img/bg_newUserForm.webp") no-repeat center fixed;
    background-size: cover;
  }

  
.ResetPassword-Main-Box {
    margin: auto;
    margin-top: 150px;
    max-width: 500px;
}


.ResetPassword-Box {
    border: 0;
    border-radius: 0;
}

.ResetPassword-Title {
    background-color: black;
    border-radius: 0 !important;
    color: white;
}

.ResetPassword-Button {
    background-color: #579956 !important;
    border-color:#579956;
}

.ResetPassword-Button:hover {
    background-color: #000 !important;
}

.Input-Row-Box {

    height: 43px;
    flex-grow: 0;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }



/* FOR SMALL SCREENS */
@media(max-width: 850px) {
    
    .ResetPassword-Main-Box {
        width: 90%;
    }
}