{% if not cookies_check %}
<div class="row justify-content-center cookie-box">
    <div class="cookie-header">
        <span class="cookie-header-font">
            Ta strona używa plików cookie
        </span>
    </div>


        <span class="cookie-box-text">
            Używamy plików cookie, żeby zapewnić Ci usługi na najwyższym poziomie. Dalsze korzystanie ze strony oznacza, że zgadzasz się na ich użycie.
        </span>


    <div class="row">
        <form action = "{{ url_for('other.accept_cookies')}}" method = "POST">
            <button class="cookie-button"  type="submit">
                <span class="cookie-button-text"> Zgoda!</span>
                
            </button>

        </form>
        <!-- <button class="cookie-button">
            <a href="{{url_for('other.privacy_policy')}} "><span class="cookie-button-text">Polityka Prywatności</span></a>
         </button> -->
            
    </div>
</div>
{% else %}


{% endif %}