<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard_your_events.css') }}">

<div class="card mb-4 Event-Main-Box">
    <div class="card-header Event-Title-Box" style="background-color: rgba(224, 153, 94);">Twoje wyzwania</div>
    
    <div class="card-body">
        {% for event in events: %}
            <div class="row">
                <div class="col-8">
                    <h4>{{event.name}}</h4> 
                </div>
            </div>

        <div class="Event-Box" style="border-color: black;">
            {% if event.status == "Zapisy otwarte" or event.status == "W trakcie" %}
            <div class="row">
                <div class="col-4 Event-Box-Value-Title"><h5>Tydzień</h5></div>
                <div class="col-4 Event-Box-Value-Title-Border"><h5>Przebyty dystans</h5></div>
                <div class="col-4 Event-Box-Value-Title"><h5>Cel</h5></div>
            </div>
            <div class="row">
                
                <div class="col-4 Event-Box-Value">
                    {{event.current_week}} / {{event.length_weeks}} 

                </div>
                {% if event.event_week_distance >= event.current_week_target %}
                <div class="col-4 Event-Box-Value" style="color:rgb(27, 80, 10)"><b>{{event.event_week_distance}} km</b></div>
                {% endif %}

                {% if event.event_week_distance < event.current_week_target %}
                <div class="col-4 Event-Box-Value-Border" style="color:rgb(146, 40, 7)"><b>{{event.event_week_distance}} km</b></div>
                {% endif %}
                <div class="col-4 Event-Box-Value">{{event.current_week_target}} km</div>
            </div>
            {% endif %}

            {% if event.status == "Zakończone" %}
            <div class="row">
                <div class="col-12"><h5>Wyzwanie zakończone!</h5></div>
            </div> 
            {% endif %}
            </div>

            <div class="col">
                <a href="{{ url_for('event.event_main', event_id=event.id )}}" type="button" class="btn btn-dark btn-lg Details-Of-Event-Button" style="background-color: #182c07e8;">  Szczegóły  </a>
            </div>

        {% endfor %}
    </div>
    
   
</div>

