<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard_your_events.css') }}">

<div class="card mb-4 Event-Main-Box">
    <div class="card-header Event-Title-Box" style="background-color: rgba(224, 153, 94);">Twoje wyzwania</div>
    {% if event != [] : %}
    <div class="Event-Box-Row">
      
        {% if eventAmount !=1 %}
        <div class="Arrow-Box-Left"><a href="{{ url_for('user.basicDashboard', eventCount=previousEvent)}}"><img src="/static/img/turn_left.webp"></a></div>
        {% endif %}
        <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4>{{event.name}}</h4> 
                    </div>
                </div>

            
            <div class="Event-Box">
            
                <div class="row">
                    <div class="col-4 Event-Box-Value-Title"><h5>Tydzień</h5></div>
                    <div class="col-4 Event-Box-Value-Title-Border"><h5>Dystans</h5></div>
                    <div class="col-4 Event-Box-Value-Title"><h5>Cel</h5></div>
                </div>

                <div class="row">
                    


                    <div class="col-4 Event-Box-Value">
                        {{eventWeek[event.id]}} / {{event.lengthWeeks}} 

                    </div>
                    {% if eventWeekDistance[event.id] >= eventWeekTarget[event.id] %}
                    <div class="col-4 Event-Box-Value" style="color:rgb(27, 80, 10)"><b>{{eventWeekDistance[event.id]}} km</b></div>
                    {% endif %}

                    {% if eventWeekDistance[event.id] < eventWeekTarget[event.id] %}
                    <div class="col-4 Event-Box-Value-Border" style="color:rgb(146, 40, 7)"><b>{{eventWeekDistance[event.id]}} km</b></div>
                    {% endif %}
                    
                    <div class="col-4 Event-Box-Value">{{eventWeekTarget[event.id]}} km</div>
                </div>

            </div>
            

            <div class="col">
                <a href="{{ url_for('event.viewEvent', eventID=event.id )}}" type="button" class="btn btn-dark btn-lg Details-Of-Event-Button" style="background-color: #182c07e8;">  Szczegóły  </a>
            </div>


        </div>
        {% if eventAmount != 1%}
        <div class="Arrow-Box-Right"><a href="{{ url_for('user.basicDashboard', eventCount=nextEvent)}}"><img src="/static/img/turn_right.webp"></a></div>
        {% endif %}
       
    </div>  
    {% else: %}
    <div class="Event-Box-Row">
        <span class="Dashboard-Value" style="text-align:center;">---</span> 
    </div>
    {% endif %}


   
</div>

