<div class="Footer-box">
    <div class="row justify-content-around">

        <div class="col">
           <span class="Bartsch-Bober-Inc">&copy;2022 Bartsch & Bober Inc.</span>
        </div>
    
        <div class="col" style="text-align: right;">
            <a href="{{ url_for('other.about') }}" class="Footer-text ">O nas</a> <span class="Footer-text "> | </span>
            <a href="{{ url_for('other.sendMessage') }}" class="Footer-text ">Kontakt</a>  <span class="Footer-text "> | </span>
            <a href="{{ url_for('other.faq') }}" class="Footer-text ">FAQ</a>
        </div>
    
      </div>
  </div>