<div class="First-Row">
  <div class="row justify-content-around">

    <div class="col">
      <a href="{{ url_for('other.hello') }}"><img src="static/img/icon-logo 1.svg" class="Logo-Main"></a>
   </div>

   <div class="col">
      {% if current_user.id %}
      <a class="Login-Button-Text" href="{{ url_for('user.logout') }}">
        <div class="Login-Button">
          <div class="Login-Button-Text">Wyloguj</div>
        </div>
      </a>
      {% else %}
      <a class="Login-Button-Text" href="{{ url_for('user.login') }}">
        <div class="Login-Button">
          <div class="Login-Button-Text">Zaloguj</div>
        </div>
      </a>
      {% endif %}
    </div>

  </div>
</div>