
    {% if current_user.id %}
        <a href="{{ url_for('user.dashboard') }}"><img src="/static/img/icon-logo 1.svg" class="Logo-Main"></a>
    {% else %}
        <a href="{{ url_for('other.hello') }}"><img src="/static/img/icon-logo 1.svg" class="Logo-Main"></a>
    {% endif %}

    <nav class="navbar sticky-top navbar-dark navbar-expand-xl MainNav">
        <div class="navbar-brand" href="#"></div>
        
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#MainMenu" aria-controls="MainMenu" aria-expanded="false" aria-label="Przełącznik nawigacji" aria-pressed="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="MainMenu">
            <ul class="nav navbar-nav">

                <a class="nav-link" href="{{ url_for('activity.add_activity') }}">
                    <li class="nav-item add-activity">
                        <img src="/static/img/icon-Add.webp" class="icon-add-activity">
                        <p>Dodaj aktywność</p>
                    </li>
                </a>
            </ul>
            <ul class="nav navbar-nav Background-Line">

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.dashboard') }}">Panel uczestnika</a> 
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('activity.my_activities') }}">Statystyki</a> 
                </li>


                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Wyzwania</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('event.your_events', mode='ongoing') }}">Twoje wyzwania</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('event.explore_events') }}">Dostępne wyzwania</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('event.create_event') }}">Stwórz wyzwanie</a></li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link Messages" href="{{ url_for('other.mailbox', actionName='inbox') }}">Wiadomości</a>
                    
                    {% if current_user.count_not_readed_messages()>0 %}
                    <p class="Alert-Message">
                        {{ current_user.count_not_readed_messages() }}
                    </p> 
                    {% endif %}
                </li>


                {% if current_user.is_admin %}
                        <li class="nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('other.admin_panel') }}">Panel Administratora</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('user.list_of_users') }}">Użytkownicy</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('user.create_account') }}">Stwórz konto</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('event.admin_list_of_events') }}">Wyzwania</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('event.admin_list_of_sports') }}">Sporty</a></li>
                            </ul>
                        </li>
                {% endif %}


                <li class="nav-item dropdown" >
                    {% if current_user.id %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ '{} {}'.format(current_user.name, current_user.last_name) }}
                        </a>

                    {% else %}                
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Moje konto
                        </a>
                    {% endif %}

                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('user.settings') }}">Ustawienia konta</a></li>
                        <li><hr class="dropdown-divider"></li>
                        

                        {% if current_user.id %}
                            <li><a class="dropdown-item" href="{{ url_for('user.logout') }}">Wyloguj</a></li>
                        {% else %}            
                            <li><a class="dropdown-item" href="{{ url_for('user.login') }}" style="border:2px solid rgba(224, 153, 94); border-radius: 5px;">Zaloguj</a></li>
                        {% endif %}
                        
                        </ul>
                </li>      
            </ul>
        </div> 
    </nav>
