
    {% if current_user.id %}
        <a href="{{ url_for('user.basicDashboard') }}"><img src="/static/img/icon-logo 1.svg" class="Logo-Main"></a>
    {% else %}
        <a href="{{ url_for('other.hello') }}"><img src="/static/img/icon-logo 1.svg" class="Logo-Main"></a>
    {% endif %}

    <nav class="navbar sticky-top navbar-dark navbar-expand-xl">
        <div class="navbar-brand" href="#">
            
        </div>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#MainMenu" aria-controls="MainMenu" aria-expanded="false" aria-label="Przełącznik nawigacji" aria-pressed="false">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="MainMenu">
        <ul class="nav navbar-nav">

            <li class="nav-item add-activity">
                <img src="/static/img/icon-Add.webp" class="icon-add-activity">
                <a class="nav-link" href="{{ url_for('activity.addActivity') }}">Dodaj aktywność</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.basicDashboard') }}">Panel uczestnika</a> 
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('activity.myActivities') }}">Statystyki</a> 
            </li>

            <li class="nav-item sss">
                <div class="row">
                    <a class="nav-link Main-Menu-Message" href="{{ url_for('other.mailbox', actionName='inbox') }}">Wiadomości</a>
                    <a class="Alert-Message">
                        {% if current_user.countNotReadedMessages()>0 %} 
                            {{ current_user.countNotReadedMessages() }}
                        {% endif %}
                    </a>
                </div>
            </li>


            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Wyzwania</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('event.yourEvents', mode='ongoing') }}">Twoje wyzwania</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('event.exploreEvents') }}">Dostępne wyzwania</a></li>
                </ul>
            </li>

            {% if current_user.isAdmin %}
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('user.listOfUsers') }}">Użytkownicy</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user.createAccount') }}">Stwórz konto</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('event.adminListOfEvents') }}">Wyzwania</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('event.listOfCoefficients') }}">Zestawy współczynników</a></li> 
                        <li><a class="dropdown-item" href="{{ url_for('event.createCoeficientsTable') }}">Nowa tabela współczynników</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('event.createEvent') }}">Nowe wyzwanie</a></li>
                        </ul>
                    </li>
            {% endif %}


            <li class="nav-item dropdown" >
                {% if current_user.id %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ '{} {}'.format(current_user.name, current_user.lastName) }}
                    </a>

                {% else %}                
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Moje konto
                    </a>
                {% endif %}

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('user.settings') }}">Ustawienia konta</a></li>
                    <li><hr class="dropdown-divider"></li>
                    

                    {% if current_user.id %}
                        <li><a class="dropdown-item" href="{{ url_for('user.logout') }}">Wyloguj</a></li>
                    {% else %}            
                        <li><a class="dropdown-item" href="{{ url_for('user.login') }}" style="border:2px solid rgba(224, 153, 94); border-radius: 5px;">Zaloguj</a></li>
                    {% endif %}
                    
                    </ul>
            </li>
        </ul>
        </div> 
    </nav>
