body {
    background: linear-gradient(rgb(38,38,38,0.7), rgb(38,38,38,0.7)), url("/static/img/bg_FAQ.webp") no-repeat center fixed;
    min-height: 100%;
    background-size: cover;
    background-color: #3a3a3a;
    min-height: 100%;
    position: relative;
}

.Event-Main-Box {
    border-radius: 0 !important;
    border: 0px solid #000 !important;
}

.Event-Title-Box {
    background-color: #000;
    border-color: #000;
    color: white;
    border-radius: 0 !important;
}

.Event-Table-Box {
    border-radius: 0 !important;
    border: 0px solid #000 !important;
    background-color: transparent !important;
}


.Event-Table-Title-Box {
    background-color: #000;
    border-color: #000;
    color: white;
    border-radius: 0 !important;
    text-align: center;
    font-size: 20px;
}

.Extra-Box {
    margin-bottom: 60px;
}


.Statistics-Box {
 margin-top: 30px;
 padding-bottom: 50px;
}

.Extra-Margin {
    margin-bottom: 80px;
}

.Extra-Margin-Activities {
    margin-bottom: 80px;
}



/* FOR SMALL SCREENS */
@media(max-width: 850px) {

    .Extra-Margin {
        width: 95%;
        margin: auto;
        margin-bottom: 0px !important;
    }

    .Statistics-Box {
        width: 95%;
       }

    .Extra-Margin-Activities {
        width: 95%;
        margin: auto;
        margin-bottom: 100px;
    }
    
    .Extra-Box {
        width: 95%;
        margin: auto;
        margin-bottom: 60px;
    }

 

}