body {
    background: linear-gradient(rgb(38,38,38,0.7), rgb(38,38,38,0.7)), url("/static/img/bg_dashboard.webp") no-repeat center fixed;
    min-height: 100%;
    background-size: cover;
    background-color: #3a3a3a;
    min-height: 100%;
    position: relative;
}

.Small-Navbar {
    width: 100%;
    background-color: #000 !important;
    border-radius: 0 !important;
}

.Small-Navbar a:hover {
    background-color: #579956;
}

.Settings-Main-Box {
    width: 100%;
    margin: auto;
    margin-top: 80px !important;
    
}

.Event-Main-Box {
    border-radius: 0 !important;
    border: 0px solid #000 !important;
    margin-bottom: 100px;
}

.Event-Title-Box {
    background-color: #000;
    border-color: #000;
    color: white;
    border-radius: 0 !important;
}

.Main-Button {
    position: relative;
    min-width: 60px;
    max-width: 399px;
    height: 56px;
    height: max-content;
    margin: auto !important;
    border-radius: 15px;
    margin-left: 200px;
    background-color: #579956;
    color: white;
    border: solid 2px #579956;
    justify-content: center;
  }

  .Main-Button:hover {
    color: white;
    background-color: #000 !important;
  }
