{% extends "pages//base.html" %}

{% block body_content %}
{% include "/includes/event_menu.html" %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('event.static',filename='styles/event_view.css') }}">

<div class="container-xl px-4 mt-4">

    <div class="row">
        <div class="col-xl-4">

            <!-- Event info card-->
            <div class="card mb-4 mb-xl-0 Event-Main-Box">
                <div class="card-header Event-Title-Box">Szczegóły wyzwania</div>
                <div class="card-body">
                    <h6><b>Start:</b> {{event.start}}<br></h6>
                    <h6><b>Koniec:</b> {{event.end}}</h6>
                    <h6><b>Długość:</b> {{event.length_weeks}} tygodni</h6>
                    <h6><b>Ilość uczestników: </b> {{ event.give_all_event_users()|length }} / {{event.max_user_amount}}</h6>
                    <h6><b>Administrator:</b> {{event.admin.name}} {{event.admin.last_name}}</h6>
                    {% if event.description != '' %}
                    <h6>{{event.description}} </h6>
                    {% endif %}
                    {% if event.admin_id == current_user.id %}
                    <a href="{{ url_for('event.modify_event', event_id = event.id )}}" type="button" class="btn btn-success Main-Button" style="background-color: #182c07e8;">Modyfikuj wyzwanie</a>
                    {% endif %}
                </div>
            </div>
            <br>
            {% if usersAmount !=0 %}
            <!-- Your week card-->
            <div class="card mb-4 mb-xl-0 Event-Main-Box">
                {% if event.is_participant(current_user) %}
                <div class="card-header Event-Title-Box">Aktualny tydzień</div>
                
                <div class="card-body">
                {% if event.status == "0" %}
                    {% if to_start == 1 %}
                         <h5> Wyzwanie rozpocznie się jutro!</h5>
                    {% else %}
                        <h5> Wyzwanie rozpocznie się za {{ to_start }} dni!</h5>
                    {% endif %}
                {% elif event.status in ["1","2","3"] %}
                    <div class="row">
                        <div class="col-4"><h5>Tydzień</h5></div>
                        <div class="col-4"><h5>Twój dystans</h5></div>
                        <div class="col-4"><h5>Cel</h5></div>
                    </div>
                    <div class="row">
                        <div class="col-4">{{event.current_week}} / {{event.length_weeks}}</div>
                        {% if processed_data[event.current_week-1].loc['total','calculated_distance'].loc[current_user.id][0] >= event.week_targets.iloc[event.current_week-1]['target'] %}
                            <div class="col-4" style="color:rgb(27, 80, 10)">
                                <b> {{ processed_data[event.current_week-1].loc['total','calculated_distance'].loc[current_user.id][0] }} km</b>
                            </div>
            
                        {% else  %}
                            <div class="col-4" style="color:rgb(146, 40, 7)">
                                <b> {{ processed_data[event.current_week-1].loc['total','calculated_distance'].loc[current_user.id][0] }} km</b>
                            </div>

                        {% endif %}

                    <div class="col-4">{{event.week_targets.iloc[event.current_week-1]['target'] }} km</div>
                    
                </div>

                {% else %}
                   <h5> Wyzwanie zakończone!</h5>
                {% endif %}
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>

        
        <div class="col-xl-8">
            <!-- Coeficient list card-->
            <div class="card mb-4 Event-Main-Box">
                <div class="card-header Event-Title-Box">Współczynniki aktywności</div>
                <div class="card-body" style="padding-left: 35px; padding-right: 35px; padding-bottom: 35px;">
                    <h5>Mnożniki</h5>

                    <div class="row">
                   
                    {% for index, sport in coefSet.iterrows(): %}
                    {% if sport['is_constant'] != True %}

                        <div class="col-md-3 border">
                            <b> {{sport['name']}}</b>
                            <br>
                            1km x {{sport['value']}} 
                        </div>
                    {% endif %}
                    {% endfor %}

                    </div>

                    <hr noshade size="4" align="right" width="80%">
                    <h5>Stałe wartości</h5>

                    <div class="row">
                        {% for index, sport in coefSet.iterrows(): %}
                        {% if sport['is_constant'] == True %}
                        <div class="col-md-3 border">
                        
                            <b> {{sport['name']}}</b><br>
                            {{sport['value']}}  km
                        
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
{% if usersAmount !=0 %}
<div class="container-xl px-4 mt-4">
    <div class="row justify-content-md-center">
        <div class="col-md-12 Extra-Box">

            <!-- Actiities summary -->
            <div class="card mb-12 mb-xl-0 Event-Table-Box">
                <div class="card-header Event-Table-Title-Box">Podsumowanie aktywności</div>
                    <div class="card-body"> 
                        <div class="table-responsive-md Table-Box">

                            {% for week in processed_data: %}
                            <table class="table table-sm table-secondary table-striped table-hover" style="border-radius: 50px;">
                                <thead>
                                    <tr>
                                        <td><b>Tydzień {{loop.index}}</b></td>

                                        {% for user in range(0, usersAmount) %}
                                            <td><b><img src="{{ eventUsers[week.columns[user][1]].give_avatar_path() }} " width="40"> <br> 

                                                {{ week.columns[user][2] }} 
                                                {{ week.columns[user][3] }} </b> </td>

                                        {% endfor %}

                                    </tr>
                                </thead>

                                <tbody>
                                    {% for day in range(0,7): %}
                                    <tr>
                                        <td>{{ week.index[day]}}</td>
                                        {% for user in range(0,usersAmount) %}
                                            <td>{{  week.iloc[day][user] }} km</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}

                                    <tr>
                                        <th scope="col" style="width:120px">Cel: {{ event.week_targets['target'][loop.index - 1] }} km </th>

                                        {% for user in range(0,usersAmount) %}

                                            {% if week.loc['target_done'][user]  %}
                                            <th scope="col" style="background-color: rgb(111, 245, 111);">
                                            {% else %}
                                            <th scope="col" style="background-color: rgb(245, 73, 11);">
                                            {% endif %}
                                            
                                            {{ week.loc['total'][user] }} km 

                                            </th>

                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}