{% extends "pages//base.html" %}

{% block body_content %}
{% include "/includes/event_menu.html" %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('event.static',filename='styles/event_view.css') }}">

    <!-- Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Usuwanie rekordu danych</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="idDeleteModalBody">
            ...
            </div>
            <div class="modal-footer">
                <form action="" method="GET" id="confirmDeleteForm">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-danger">Usuń użytkownika</button>
                </form>
            </div>
        </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script> 
        $(document).ready(function () { 
            // For A Delete Record Popup 
            // This function is applied to all elements with class ending with ".delete-confirm" 
            $('.delete-confirm').click(function () { 
                // get attributes of the found element 
                var desc = $(this).attr('data-desc'); 
                var url = $(this).attr('data-url'); 
                // the #... designates id of an element - change the text in the modal window 
                $('#idDeleteModalBody').text(desc); 
                $("#confirmDeleteForm").attr("action", url); 
            }); 
        }); 
    </script>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-10 Extra-Margin">
            <div class="card mb-4 mb-xl-0 Event-Main-Box">
                <div class="card-body"> 
                    <div class="table-responsive-md">
                        <table class="table table-striped table-hover" style="border-radius: 50px;">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Uczestnik</th>

                                    {% if current_user.is_admin or event.admin_id == current_user.id %}
                                    <th scope="col">Akcje</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in eventUsers: %}
                                <tr>
                                    <td scope="row">{{loop.index}}</td>
                                    <td>             
                                        <b><img class="img-account-profile" src="{{ eventUsers[user].give_avatar_path() }} " width="40"  style="border-radius: 10px;">     {{eventUsers[user].name}} {{eventUsers[user].last_name}} </b>
                                
                                        {% if current_user.is_admin or event.admin_id == current_user.id %}
                                            <td>
                                            <!-- Button trigger modal -->
                                                <a type="button" class="btn btn-danger btn-sm delete-confirm" 
                                                data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                                                data-desc="Napewno chcesz usunać użytkownika: {{eventUsers[user].name}} {{eventUsers[user].last_name}}?"
                                                data-url="{{ url_for('event.admin_delete_contestant', event_id = event.id, user_id = eventUsers[user].id)}}">
                                                    Usuń
                                                </a>
                                            </td>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}