{% extends "pages//base.html" %}

{% block body_content %}
{% include "/includes/event_menu.html" %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('event.static',filename='styles/event_view.css') }}">

<div class="container Statistics-Box">

    <div class="row justify-content-md-center">
        <div class="col-xl-4">
 

            <div class="card mb-4 mb-xl-0 Event-Main-Box">
                <div class="card-header Event-Title-Box ">Największy łączny dystans aktywności</div>
                <div class="card-body">

                    {% for position in range(0,users_amount): %}
                    <div class="row">
                        <div class="col-2">
                            {% if loop.index==1 %}
                            <img src="/static/pictures/gold_medal.svg" alt="" width="40" height="34">
                            {% elif loop.index==2 %}
                            <img src="/static/pictures/silver_medal.svg" alt="" width="40" height="34">
                            {% elif loop.index==3 %}
                            <img src="/static/pictures/bronze_medal.svg" alt="" width="40" height="34">
                            {% endif %}
                        </div>
                        <div class="col-10">
                            <b>{{highest_distance.index[position][1]}} {{highest_distance.index[position][2]}}</b> {{highest_distance['calculated_distance'][position]}} km
                        </div>
                    </div>

                    <br>
                    {% endfor %}
                    
                </div>
            </div>
            <br>
        </div>

        <div class="col-xl-4">


            <div class="card mb-4 mb-xl-0 Event-Main-Box">
                <div class="card-header Event-Title-Box ">Największa liczba aktywności</div>
                <div class="card-body">

                    {% for position in range(0,users_amount): %}
                    <div class="row">
                        <div class="col-2">
                            {% if loop.index==1 %}
                            <img src="/static/pictures/gold_medal.svg" alt="" width="40" height="34">
                            {% elif loop.index==2 %}
                            <img src="/static/pictures/silver_medal.svg" alt="" width="40" height="34">
                            {% elif loop.index==3 %}
                            <img src="/static/pictures/bronze_medal.svg" alt="" width="40" height="34">
                            {% endif %}
                        </div>
                        <div class="col-8">
                            
                            <b>{{most_activites.index[position][1]}} {{most_activites.index[position][2]}}</b> {{most_activites['value'][position]}}
                        </div>
                    </div>

                    <br>
            {% endfor %}
                    
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
    
{% endblock %}