{% extends "pages//base.html" %}

{% block body_content %}
{% include "/includes/event_menu.html" %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('event.static',filename='styles/event_view.css') }}">


<div class="container Statistics-Box">
    <div class="row justify-content-md-center">
        <div class="col-md-10 Extra-Margin">
            <div class="card mb-4 mb-xl-0 Event-Main-Box">
                <div class="card-body"> 
                    <div class="table-responsive-md">
                        <table class="table table-striped table-hover" style="border-radius: 50px;">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Uczestnik</th>
                                    <th scope="col">Otrzyma</th>
                                    <th scope="col">Kupi</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for user in eventUsers: %}
                                <tr>
                                    <td scope="row">{{loop.index}}</td>
                                    <td>
                                        <b><img class="img-account-profile" src="{{ eventUsers[user].give_avatar_path() }} " width="40"  style="border-radius: 10px;">     {{eventUsers[user].name}} {{eventUsers[user].last_name}} </b>
                                    </td>
                                    <td scope="row">{{beers_to_recive[user]}}</td>
                                    <td scope="row">{{beerToBuy[user]}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}