<p>Czołem {{ '{} {}'.format(user.name, user.last_name) }},</p>
<p>Witaj w <b>Sportowych Świrach</b>!</p>
<p>Żeby potwierdzić Twoje konto prosze <a href="{{ url_for('user.confirm', token=token, _external=True) }}">kliknij tutaj</a>.</p>
<p>Alternatywnie możesz wkleić poniższy link w swoją przeglądarke:</p>
<p>{{ url_for('user.confirm', token=token, _external=True) }}</p>
<p>Jest to pierwsza wersja tej apliakcji dlatego jesteśmy świadomi, że mogą w niej być pewne niedoskonałości.</p>
<p>Daj nam znać jeśli napotkasz jakąś z nich ;)</p>
<p>Pozdrawiamy,</p>
<p>Administracja Sportowych Świrów</p>
<p><small>Uwaga: Nie odpisuj na tę wiadomość.</small></p>