.Small-Navbar {
    width: 100%;
    background-color: #000 !important;
    border-radius: 0 !important;
}

.Small-Navbar a:hover {
    background-color: #579956;
}

.Settings-Main-Box {
    width: 94%;
    margin: auto;
    margin-top: 80px !important;
    
}

.Event-Main-Box {
    border-radius: 0 !important;
    border: 0px solid #000 !important;
    margin-bottom: 100px;
}

.Event-Title-Box {
    background-color: #000;
    border-color: #000;
    color: white;
    border-radius: 0 !important;
}

.Main-Button {
    position: relative;
    max-width: 399px;
    height: 56px;
    margin: auto !important;
    border-radius: 15px;
    margin-left: 200px;
    background-color: #579956 !important;
    border: solid 2px #579956;
    justify-content: center;
  }

  .Main-Button:hover {
    background-color: #000 !important;
  }
