body {
    background: linear-gradient(rgb(38,38,38,0.7), rgb(38,38,38,0.7)), url("/static/img/bg_index.webp") no-repeat center fixed;
    background-size: cover;
    background-color: #3a3a3a;
    min-height: 100%;
    position: relative;
  }

  /* MAIN STATIC CONTENER */
  
  .Static-Content {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    justify-content: center;
    padding-bottom: 94px;
  
  }

/* TITLE "index" */
  
    .Title-index {
        width: 466px;
        flex-grow: 0;
        margin-top: 200px;
        margin-left: 205px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Lato;
        font-size: 45px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
      }

      .Subtitle-index {

        width: 45%;
        /* height: 72px; */
        flex-grow: 0;
        margin-left:205px;
        margin-top: 25px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Lato;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
      }

/* Register buttton */

      .Register-Button {
        width: 240px;
        height: 66px;
        margin-top: 20px;
        /* position: absolute; */
        margin-left:205px;
        /* margin-top: 25px; */
        /* margin-bottom: 136px; */
        /* flex-grow: 0; */
        display: flex;
        /* flex-direction: row; */
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #579956;
      }

      .Register-Button-font{
        flex-grow: 0;
        font-family: Lato;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;

      }
      
      .Register-Button:hover {
        background-color: #000;
      }
      
      .Register-Button:active {
        background-color: #3a3a3a;
      }

      a.Register-Button {
        text-decoration: none;
      }
      
      /* Content boxes*/

      .row-boxes{

        padding-left: 100px;
        padding-right: 100px;
        justify-content: flex-start;
        gap: 1%;
        margin-top: 6%;
        text-decoration: none;

      }

      .Content-Box {
        position: relative;
        width: 30%;
        height: auto;
        /* flex-grow: 0; */

        padding: 30px 24px 23px 22px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #efefef;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        color: #000;
      }

      .Content-Box:hover {
        position: relative;
        width: 40%;
        height: auto;

        padding: 30px 24px 23px 22px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #579956;
        color: #fff !important;
        justify-content: center;
        align-content: center;

      }



      .icon{
        /* width: 350px; */
        height: 65px;
        flex-grow: 0;
        fill: #000;
      

      }

      .box-header{
        flex-grow: 0;
        justify-self: center;
        font-family: Lato;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
 

      }

      .box-text{
        flex-grow: 0;
        margin: 13px 0 0;
        font-family: Lato;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: justify;
        
        text-decoration: none;
      }

      a.box-text{
        text-decoration: none !important;

      }


        /* FOR SMALL SCREENS */
  @media(max-width: 850px) {
  
  
    /* TITLE "ABOUT US" */
    .Title-index {
        font-size: 30px;
        margin-top: 150px;
        margin-left: 9%;
        width: 400px;
    }

    .icon{
        justify-self: center;

    }

    .Subtitle-index {

        width: 80%;
        /* height: 90px; */
        flex-grow: 0;
        margin-top: 15px;
        margin-left: 9%;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Lato;
        font-size: 25px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
    }


    .Register-Button {
        width: 160px;
        height: 60px;
        margin-top: 45px;
        margin-left: 9%;

      }

      .Register-Button-font{
        font-size: 25px;
      }

      a.Register-Button {
        text-decoration: none;
      }

      .row-boxes{
        padding-left:10%;
        padding-right: 10%;
        margin-top: 28px;


      }

      .Content-Box {

        width: 80%;
        margin-top: 10px;
        min-width: 250px;
        height: auto;
        text-align: left;
        justify-content: left;

      }
  }