/* GENERAL BODY */

body {
  background: linear-gradient(rgb(38,38,38,0.7), rgb(38,38,38,0.7)), url("/static/img/icon-image 4.svg") no-repeat center fixed;
  background-size: cover;
  background-color: #3a3a3a;
}

/* MAIN CONTENER */

.Static-Content {
  display: flex;
  flex-direction: column;
}

/* HEADER WITHOUT MENU */
.First-Row {
  width: 100%;
  position: absolute;
}

.Logo-Main {
  width: 92px;
  height: 104px;
  position: absolute;
  top: 29px;
  left: 100px;
}

.Login-Button {
  width: 100px;
  height: 48px;
  position: absolute;
  right: 100px;
  top: 57px;
  border-radius: 15px;
  background-color: #579956;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-Button:hover {
  background-color: #000;
}

.Login-Button-Text {
  height: 22px;
  flex-grow: 1;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.Login-Button-Text:hover {
  color: white;
}







/* TITLE "ABOUT US" */

.Title-About-Us {

  font-family: Lato;
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 200px;
}






/* Zdjęcie + opis */


.Content {
  display: flex;
  flex-direction: row;

  margin: auto;
  margin-top: 10px;
}

img.icon-Rectangle-12 {
  width: 295px;
  height: 295px;
  margin: 53px 0 0 118px;
  object-fit: contain;
}

.Rectangle-13 {
  width: 525px;
  height: 295px;
  margin: 53px 110px 0 0;
  padding: 36px 28px 27px 38px;
  background-color: #efefef;
}


.Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Aenean-ac-dui-lacus-Mauris-eget-lacus-magn {
  width: 459px;
  height: 151px;
  margin: 0 0 33px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}


.Rectangle-14 {
  width: 170px;
  height: 48px;
  margin: 33px 140px 0 127px;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  /*background-color: gold;*/
  background-image: url("https://www.twosoutherncorners.com/img/bmc-button.png");
  background-size: contain;
  background-repeat: no-repeat;
}



/* FOOTER */

.Footer-box {
  position: absolute;
  width: 100%;
  height: 64px;
  padding: 21px 16px 23px 29px;
  opacity: 0.8;
  background-color: #000;
  bottom: 0;
}

.Bartsch-Bober-Inc {
  height: 19px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #636363;
}

.Footer-links {
  display: flex;
  flex-direction: row;
}

.Footer-text {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  text-align: right;
}


/* FOR SMALL SCREENS */
@media(max-width: 670px) {

  /* HEADER WITHOUT MENU */
  .Login-Button {
    right: 50px;
    top: 30px;
  }

  .Logo-Main {
    width: 92px;
    height: 104px;
    position: absolute;
    top: 29px;
    left: 50px;
  }

  /* TITLE "ABOUT US" */
  .Title-About-Us {
      font-size: 30px;
      margin-top: 150px;
  }





  .Content {
      flex-direction: column;
  }


  img.icon-Rectangle-12 {
      width: 205px;
      height: 205px;
      margin: auto;
      margin-bottom: 15px;

    }

  .Rectangle-13 {
      width: 325px;
      height: 405px;
      /*margin: 53px 110px 0 0;*/
      justify-content: center;
      margin: auto;
      margin-bottom: 100px;
    }

  .Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Aenean-ac-dui-lacus-Mauris-eget-lacus-magn {
      width: 359px;
      height: 101px;
    }


  .Rectangle-14 {
      margin: auto;
      margin-top: 30px;
    }



    /* FOOTER */
  .Footer-box {
    position: static;

  }


}
