
html {
  height: 100%;
}

/* GENERAL BODY */

body {
  background: linear-gradient(rgb(38,38,38,0.7), rgb(38,38,38,0.7)), url("/static/img/icon-image 4.svg") no-repeat center fixed;
  background-size: cover;
  background-color: #3a3a3a;
  min-height: 100%;
  position: relative;
}


/* MAIN STATIC CONTENER */
  
.Static-Content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 94px;
  
}


/* HEADER WITHOUT MENU */
.First-Row {

  width: 98%;
  position: absolute;
}

.Logo-Main {
  width: 92px;
  height: 104px;
  position: absolute;
  top: 29px;
  left: 100px;
}

.Login-Button {
  width: 100px;
  height: 48px;
  position: absolute;
  right: 100px;
  top: 57px;
  border-radius: 15px;
  background-color: #579956;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-Button:hover {
  background-color: #000;
}

.Login-Button:active {
  background-color: #3a3a3a;
}

.Login-Button-Text {
  height: 22px;
  flex-grow: 1;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.Login-Button-Text:hover {
  color: white;
  text-decoration: none
}

.Create-Account-Button {
  width: 140px;
  height: 48px;
  position: absolute;
  right: 100px;
  top: 57px;
  border-radius: 15px;
  background-color: #579956;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Create-Account-Button:hover {
  background-color: #000;
}

.Create-Account-Button:active {
  background-color: #3a3a3a;
}

/* FOOTER */

.Footer-box {
  position: absolute;
  width: 100%;
  height: 64px;
  padding: 21px 16px 23px 29px;
  opacity: 0.8;
  background-color: #000;
  bottom: 0;
  flex-direction: row;
  /* margin-bottom: -94px; */
}

.Bartsch-Bober-Inc {
  height: 19px;
  width: 30%;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #636363;
  flex-direction: row;
}

.Footer-links {
  display: flex;
  flex-direction: row;
}

.Strava-logo{
  position: absolute;
  top: 10px;
  height: 50px;
  left: 240px;
  width: 90px;
  background-size: contain;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-image: url("/static/img/api_logo_cptblWith_strava_stack_white.png");
  background-repeat: no-repeat;
  vertical-align: baseline
  
}

.Footer-text {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  text-align: right;
}

.Footer-text:hover {
  color: #579956;
}

.cookie{
  
  /* margin-top: 20%;
  margin-bottom: 200px; */
  margin-left: 10%;
  margin-right: 10%;
  
}

.cookie-box{
  position: fixed;
  z-index: 1;
  bottom: 0;
  max-width: 1300px;
  min-width: 500px;
  margin-top: 17px;
  margin-bottom: 10px;
  width: 80%;
  height: auto;
  flex-grow: 0;
  justify-self: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #efefef;
  text-align: center;
  padding-bottom: 28px;

}
.cookie-header{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  flex-grow: 0;
  background-color: #000;
  justify-content: center;
  vertical-align: text-bottom;
  
}

.cookie-header-font{
  font-family: Lato;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;

}


.cookie-box-text{
  margin-top: 31px;
  margin-bottom: 28px;
  margin-left: 17%;
  margin-right: 17%;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.cookie-button {
  /* width: 100px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  margin-right: 20px;
  height: 48px;
  right: 100px;
  top: 57px;
  border-radius: 15px;
  border-width: 0;
  background-color: #579956;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cookie-button-text {
  height: 22px;
  flex-grow: 1;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

a.cookie-button-text {
  text-decoration: none;
}


.cookie-button:hover {
  background-color: #000;
}



/* MAIN NAVBAR */


nav {
  background-color: #000 !important;
  height: 39px;
  width: 70%;
  margin: auto;
  margin-right: 0;
  margin-top: 30px;
  margin-right: 5%;
}


.add-activity {
  width: 206px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  /* margin: 0 450px 0 0; */
  /* padding: 13px 12px; */
  border-radius: 15px;
  background-color: #579956;
  position: relative;
  margin-left: -60px;

}

img.icon-add-activity {
  width: 29px;
  height: 22px;
  flex-grow: 0;
  object-fit: contain;
  text-align: center;
  margin: auto;
}

.add-activity a {
  text-align: left;
  margin-top:auto;
  margin-bottom: auto;
  margin-right: 20px;
  font-size: 16px;
  color: #fff;
}

.nav-item a {
  margin-top:auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 20px;
}

.nav-item:hover {
  background-color: #579956;
  border-radius: 15px;
}

.Main-Menu-Message {
  display: flex;
  flex-direction: row;
}

.Alert-Message {
  position: absolute;
  background-color: red; 
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px; 
  font-size: 10px;
  margin-left: 113px !important;
  margin-top: 13px !important;
  
}

.dropdown-item {
  margin-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.dropdown-item:hover {
  background-color: #579956; 
}


.User-Avatar:hover {
  background-color: transparent !important;
}


/* FOR SMALL SCREENS */
@media(max-width: 850px) {

  /* HEADER WITHOUT MENU */


  .First-Row {

    width: 95%;
    position: absolute;
  }
  .Login-Button {
    right: 50px;
    top: 30px;
  }

  .Logo-Main {
    width: 92px;
    height: 104px;
    position: absolute;
    top: 29px;
    left: 50px;
  }

  .Create-Account-Button {
    right: 50px;
    top: 30px;
  }


  /* FOOTER */
  .Bartsch-Bober-Inc {
    font-size: 13px;
  }

  .Footer-text {
    font-size: 13px;
    margin-right: 3px;
  }

  .Strava-logo{
    left:190px;
  }
  
  
}


/* FOR SMALL SCREENS */
@media(max-width: 1200px) {

  /* MAIN NAVBAR */

  nav {
    background-color: transparent !important;
    width: 50%;
    margin: auto;
    margin-right: 0;
    margin-top: 50px;
    margin-right: 5%;
  }

  .navbar-dark .navbar-toggler-icon 
  {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      color: #000 !important;
  }

  .navbar-toggler
  {
      border: 3px solid white !important;
      border-radius: 10px !important; 
      margin-right: 30px;
  }

  .navbar-toggler:hover
  {
      border: 3px solid #579956  !important;
      border-radius: 10px;
      box-shadow: none !important;
  }


  .navbar-toggler:focus
  {
      border: 3px solid #579956  !important;
      border-radius: 10px;
      box-shadow: none !important;
  }

  .navbar-collapse {
    background-color: #000;
    border-radius: 15px;
    border: 2px solid #579956 !important;
    box-shadow: none !important;
  }


  .add-activity {
    width: 100%;
    margin-left: 0px !important;
    margin-top:-1px;
  
  }

  .icon-add-activity {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .add-activity a {
    margin-left: 0 !important;
    margin-right: 0 !important; 
  }

  .nav-item a {
    margin-left: 20px;
  }


}


/* FOR SMALL SCREENS */
@media (min-width: 1200px) and (max-width: 1260px) {

  .nav-item a {
    margin-left: 10px;
    margin-right: 10px !important;
    font-size: 12px !important;
    justify-content: right !important;
  }

  .Alert-Message {
    position: absolute;
    background-color: red; 
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px; 
    font-size: 8px !important;
    margin-left: 87px !important;
    margin-top: 8px !important;
    margin: auto;
    
  }


}


/* FOR SMALL SCREENS */
@media (min-width: 1260px) and (max-width: 1460px) {

  .nav-item a {
    margin-left: 10px;
    margin-right: 10px !important;
    font-size: 14px;
  }

  .Alert-Message {
    position: absolute;
    background-color: red; 
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px; 
    font-size: 10px !important;
    margin-left: 98px !important;
    margin-top: 13px !important;
    
  }


}

/* FOR BIG SCREENS */
@media (min-width: 1600px) {

  .nav-item a {
    margin-left: 25px;
    margin-right: 25px !important;
  }

  .Alert-Message {
    margin-left: 130px !important;
  }

  .add-activity a {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 10px !important;
    margin-right: auto !important;
  }

}

/* FOR BIG SCREENS */
@media (min-width: 1700px) {

  .nav-item a {
    margin-left: 30px;
    margin-right: 30px !important;
  }

}


