.row-login {
  margin: auto;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.row-social-connect {
    margin: auto;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }


.btn-facebook {
  width: 300px;
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}

.btn-google {
  width: 300px;
  color: #fff;
  background-color: #db4c3e;
  border: 1px solid rgb(163, 28, 16);
  margin-top: 20px;
}

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  margin-left: auto;
}

.btn-social:hover {
  color: #eee;
}

.btn-social :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  padding: 7px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.login-trad {
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 10px;
}







