
html {
  height: 100%;
}

/* GENERAL BODY */

body {
  background: linear-gradient(rgb(38,38,38,0.7), rgb(38,38,38,0.7)), url("/static/img/icon-image 4.svg") no-repeat center fixed;
  background-size: cover;
  background-color: #3a3a3a;
  min-height: 100%;
  position: relative;
}


/* MAIN STATIC CONTENER */
  
.Static-Content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 94px;
  
}


/* HEADER WITHOUT MENU */
.First-Row {

  width: 98%;
  position: absolute;
}

.Logo-Main {
  width: 92px;
  height: 104px;
  position: absolute;
  top: 29px;
  left: 100px;
}

.Login-Button {
  width: 100px;
  height: 48px;
  position: absolute;
  right: 100px;
  top: 57px;
  border-radius: 15px;
  background-color: #579956;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-Button:hover {
  background-color: #000;
}

.Login-Button:active {
  background-color: #3a3a3a;
}

.Login-Button-Text {
  height: 22px;
  flex-grow: 1;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.Login-Button-Text:hover {
  color: white;
  text-decoration: none
}

.Create-Account-Button {
  width: 140px;
  height: 48px;
  position: absolute;
  right: 100px;
  top: 57px;
  border-radius: 15px;
  background-color: #579956;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Create-Account-Button:hover {
  background-color: #000;
}

.Create-Account-Button:active {
  background-color: #3a3a3a;
}

/* FOOTER */

.Footer-box {
  position: absolute;
  width: 100%;
  height: 64px;
  padding: 21px 16px 23px 29px;
  opacity: 0.8;
  background-color: #000;
  bottom: 0;
  /* margin-bottom: -94px; */
}

.Bartsch-Bober-Inc {
  height: 19px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #636363;
}

.Footer-links {
  display: flex;
  flex-direction: row;
}

.Footer-text {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  text-align: right;
}

.Footer-text:hover {
  color: #579956;
}

.cookie{
  
  /* margin-top: 20%;
  margin-bottom: 200px; */
  margin-left: 10%;
  margin-right: 10%;
  
}

.cookie-box{
  position: fixed;
  z-index: 1;
  bottom: 0;
  max-width: 1300px;
  min-width: 500px;
  margin-top: 17px;
  margin-bottom: 10px;
  width: 80%;
  height: auto;
  flex-grow: 0;
  justify-self: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #efefef;
  text-align: center;
  padding-bottom: 28px;

}
.cookie-header{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  flex-grow: 0;
  background-color: #000;
  justify-content: center;
  vertical-align: text-bottom;
  
}

.cookie-header-font{
  font-family: Lato;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;

}


.cookie-box-text{
  margin-top: 31px;
  margin-bottom: 28px;
  margin-left: 17%;
  margin-right: 17%;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.cookie-button {
  /* width: 100px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  margin-right: 20px;
  height: 48px;
  right: 100px;
  top: 57px;
  border-radius: 15px;
  border-width: 0;
  background-color: #579956;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cookie-button-text {
  height: 22px;
  flex-grow: 1;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

a.cookie-button-text {
  text-decoration: none;
}


.cookie-button:hover {
  background-color: #000;
}



/* MAIN NAVBAR */


nav {
  background-color: #000 !important;
  height: 39px;
  width: 70%;
  margin: auto;
  margin-right: 0;
  margin-top: 30px;
  margin-right: 5%;
}


.add-activity {
  width: 206px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  /* margin: 0 450px 0 0; */
  /* padding: 13px 12px; */
  border-radius: 15px;
  background-color: #579956;
  position: relative;
  margin-left: -60px;

}

img.icon-add-activity {
  width: 29px;
  height: 22px;
  flex-grow: 0;
  object-fit: contain;
  text-align: center;
  margin: auto;
}

.add-activity a {
  text-align: left;
  margin-top:auto;
  margin-bottom: auto;
  margin-right: 20px;
  font-size: 16px;
  color: #fff;
}

.nav-item a {
  margin-top:auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 20px;
}

.nav-item:hover {
  background-color: #579956;
  border-radius: 15px;
}

.Main-Menu-Message {
  display: flex;
  flex-direction: row;
}

.Alert-Message {
  position: absolute;
  background-color: red; 
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px; 
  font-size: 10px;
  margin-left: 113px !important;
  margin-top: 13px !important;
  
}



/* FOR SMALL SCREENS */
@media(max-width: 850px) {

  /* HEADER WITHOUT MENU */


  .First-Row {

    width: 95%;
    position: absolute;
  }
  .Login-Button {
    right: 50px;
    top: 30px;
  }

  .Logo-Main {
    width: 92px;
    height: 104px;
    position: absolute;
    top: 29px;
    left: 50px;
  }

  .Create-Account-Button {
    right: 50px;
    top: 30px;
  }


  /* FOOTER */
  .Bartsch-Bober-Inc {
    font-size: 13px;
  }

  .Footer-text {
    font-size: 13px;
    margin-right: 3px;
  }

  
}

/* FOR SMALL SCREENS */
@media(max-width: 1200px) {

  /* MAIN NAVBAR */

  nav {
    background-color: transparent !important;
    width: 50%;
    margin: auto;
    margin-right: 0;
    margin-top: 50px;
    margin-right: 5%;
  }

  .navbar-toggler
  {
      border: 2px solid white !important;
      border-radius: 10px !important; 
      margin-right: 30px;
  }

  .navbar-collapse {
    background-color: #000;
    border-radius: 15px;
    border: 2px solid #579956 !important;
  }

  .add-activity {
    margin-left: 0px;
    margin-top:-2px;
  
  }

  .nav-item a {
    margin-left: 20px;
  }


}