body {
    background: linear-gradient(rgb(38,38,38,0.7), rgb(38,38,38,0.7)), url("/static/img/bg_verifyEmailSent.webp") no-repeat center fixed;
    background-size: cover;
    background-color: #3a3a3a;
    min-height: 100%;
    position: relative;
  }

  /* MAIN STATIC CONTENER */
  
  .Static-Content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    padding-bottom: 94px;
  
  }

/* TITLE "index" */
  

/* Register buttton */


      .box{
        max-width: 610px;
        min-width: 500px;
        margin-top: 171px;
        margin-bottom: 10px;
        width: 43%;
        height: auto;
        flex-grow: 0;
        justify-self: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #efefef;
        text-align: center;

      }
      .box-header{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
        flex-grow: 0;
        background-color: #000;
        justify-content: center;
        vertical-align: text-bottom;
        
      }

      .box-header-font{
        font-family: Lato;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;

      }


      .box-text{
        margin-top: 31px;
        margin-bottom: 28px;
        margin-left: 17%;
        margin-right: 17%;
        font-family: Lato;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
      }


      .reset-button{
        width: 65%;
        height: 56px;
        margin-left: 17%;
        margin-right: 17%;
        margin-bottom: 28px;
        border-radius: 5px;
        border-width: 0ch;
        padding-top: 17px;
        padding-bottom: 17px;

        background-color: #579956;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

        font-family: Lato;
        font-size: 18px;
        text-align: center;
        color: #fff;

      }


        /* FOR SMALL SCREENS */
  @media(max-width: 850px) {
  
    .box{
      margin-top: 171px;
      margin-bottom: 10px;
      min-width: 300px;
      width: 63%;
 


    }
    
  }