    <!-- Account page navigation-->
    <nav class="nav nav-borders rounded Small-Navbar" style="background-color: rgba(224, 153, 94);">

        <span class="nav-link"  style="color: #579956;"><b>Ustawienia konta</b></span> 

        {% if mode=='settings' %}
            <a class="nav-link active ms-0" href="{{ url_for('user.settings') }}"  style="color: #182c07e8; background-color: #579956;">Dane podstawowe</a>
        {% else %}
            <a class="nav-link active ms-0" href="{{ url_for('user.settings') }}"  style="color: #182c07e8;">Dane podstawowe</a>
        {% endif %}

        {% if mode=='passwordChange' %}
            <a class="nav-link" href="{{ url_for('user.password_change') }}" style="color: #182c07e8; background-color: #579956;">Prywatność</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('user.password_change') }}" style="color: #182c07e8;">Prywatność</a>
        {% endif %}

        
    </nav>