{% extends "pages//base.html" %}

{% block body_content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('activity.static',filename='styles/add_activity.css') }}">

<div class="container-xl px-4 mt-4">
    
    <div class="row justify-content-center Add-Activity-Container">
        
        <div class="Login-Main-Box">

            <div class="card-header Add-Activity-Title" style="background-color: rgba(224, 153, 94);">
                {% if mode == 'create' %}
                Dodaj nową aktywność
                {% endif %}
    
                {% if mode == 'edit' %}
                Edytuj aktywność
                {% endif %}
            </div>

            {% if mode == 'create' %}
            <form method ="post">
                {{ form.csrf_token}}
            {% endif %}

            {% if mode == 'edit' %}
            <form method ="post" action="{{ url_for('activity.modify_activity', activity_id = activity_id) }}">
                {{ form.csrf_token}}
            {% endif %}

                <div class="mb-3 Add-Activity-Input">
                    <label class="small mb-1" for="date">{{ form.date.label }}:</label>
                    {{ form.date(class_="form-control") }}
                    <ul>
                        {% for error in form.date.errors %}
                            {{ error }}
                        {% endfor %}
                    </ul>
                </div>

                <div class="mb-3 Add-Activity-Input">
                    <label class="small mb-1" for="activity">{{ form.activity.label }}:</label>
                    {{ form.activity(class_="form-control") }}
                    <ul>
                        {% for error in form.activity.errors %}
                            {{ error }}
                        {% endfor %}
                    </ul>
                </div>

                <div class="mb-3 Add-Activity-Input">
                    <label class="small mb-1" for="distance">{{ form.distance.label }}:</label>
                    {{ form.distance(class_="form-control") }}
                    <ul>
                        {% for error in form.distance.errors %}
                            {{ error }}
                        {% endfor %}
                    </ul>
                </div>

                <div class="mb-3 Add-Activity-Input">
                    <label class="small mb-1" for="time">{{ form.time.label }}:</label>
                    {{ form.time(class_="form-control") }}
                    <ul>
                        {% for error in form.time.errors %}
                            {{ error }}
                        {% endfor %}
                    </ul>
                </div>

                <button class="btn btn-dark btn-lg Main-Button-Add-Activity" type="submit">
                    {% if mode == 'create' %}
                        Dodaj
                    {% endif %}

                    {% if mode == 'edit' %}
                        Edytuj
                    {% endif %}
                </button>
            </form>
            {% if mode == 'create' %}
            <a href="{{ url_for('activity.strava_login')}}">
                <div class="Strava-Button"></div>
            </a>
            {% endif %}
                
        </div>
        
        <div class="col-md-5 mt-4">{% include "includes/dashboard_add_activity.html" %}</div>
    </div>
</div>

{% endblock %}