{% extends "pages//baseNew.html" %}

{% block body_content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/addActivity.css') }}">

<div class="container-xl px-4 mt-4">
    <!-- <div class="card-header Add-Activity" style="background-color: rgba(224, 153, 94);">
        {% if mode == 'create' %}
        Dodaj nową aktywność
        {% endif %}

        {% if mode == 'edit' %}
        Edytuj aktywność
        {% endif %}
    </div> -->

    <!-- <hr class="mt-1 mb-4"> -->
    
    <div class="row justify-content-center Add-Activity-Container">
        
        <div class="Login-Main-Box">

            <div class="card-header Add-Activity-Title" style="background-color: rgba(224, 153, 94);">
                {% if mode == 'create' %}
                Dodaj nową aktywność
                {% endif %}
    
                {% if mode == 'edit' %}
                Edytuj aktywność
                {% endif %}
            </div>

            <!-- <div class="card-header Event-Title-Box" style="background-color: rgba(224, 153, 94);">Twoje wyzwania</div> -->

            {% if mode == 'create' %}
            <form method ="post">
                {{ form.csrf_token}}
            {% endif %}

            {% if mode == 'edit' %}
            <form method ="post" action="{{ url_for('activity.modifyActivity', activityID=activityID) }}">
                {{ form.csrf_token}}
            {% endif %}

                <div class="mb-3 Add-Activity-Input">
                    <label class="small mb-1" for="date">{{ form.date.label }}:</label>
                    {{ form.date(class_="form-control") }}
                    <ul>
                        {% for error in form.date.errors %}
                            {{ error }}
                        {% endfor %}
                    </ul>
                </div>

                <div class="mb-3 Add-Activity-Input">
                    <label class="small mb-1" for="activity">{{ form.activity.label }}:</label>
                    {{ form.activity(class_="form-control") }}
                    <ul>
                        {% for error in form.activity.errors %}
                            {{ error }}
                        {% endfor %}
                    </ul>
                </div>

                <div class="mb-3 Add-Activity-Input">
                    <label class="small mb-1" for="distance">{{ form.distance.label }}:</label>
                    {{ form.distance(class_="form-control") }}
                    <ul>
                        {% for error in form.distance.errors %}
                            {{ error }}
                        {% endfor %}
                    </ul>
                </div>

                <div class="mb-3 Add-Activity-Input">
                    <label class="small mb-1" for="time">{{ form.time.label }}:</label>
                    {{ form.time(class_="form-control") }}
                    <ul>
                        {% for error in form.time.errors %}
                            {{ error }}
                        {% endfor %}
                    </ul>
                </div>

                    <button class="btn btn-dark btn-lg Main-Button" style="background-color: #182c07e8;" type="submit">
                        {% if mode == 'create' %}
                            Dodaj
                        {% endif %}

                        {% if mode == 'edit' %}
                            Zapisz
                        {% endif %}
                    </button>
            </form>
            <a href="{{ url_for('activity.strava_login')}}">
                <div class="Strava-Button"></div>
            </a>

                
        </div>
        
        <div class="col-md-5 mt-4">{% include "includes/dashboard_add_activity.html" %}</div>
    </div>
</div>

{% endblock %}