{% extends "pages//base.html" %}

{% block body_content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('activity.static',filename='styles/my_activity.css') }}">


<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuwanie aktywności</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="idDeleteModalBody">
        ...
        </div>
        <div class="modal-footer">
            <form action="" method="GET" id="confirmDeleteForm">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <button type="submit" class="btn btn-danger">Usuń aktywność</button>
            </form>
        </div>
    </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script> 
    $(document).ready(function () { 
        // For A Delete Record Popup 
        // This function is applied to all elements with class ending with ".delete-confirm" 
        $('.delete-confirm').click(function () { 
            // get attributes of the found element 
            var desc = $(this).attr('data-desc'); 
            var url = $(this).attr('data-url'); 
            // the #... designates id of an element - change the text in the modal window 
            $('#idDeleteModalBody').text(desc); 
            $("#confirmDeleteForm").attr("action", url); 
        }); 
    }); 
</script>


<div class="Static-Content">
    <div class="row Dashboard-First-Row">

        <div class="Dashboard-Main-Box">
            <img src="/static/img/icon-route.webp" class="icon-Dashboard">
            <div class="Dashboard-Value-Main-Box">
                <span class="Dashboard-Value-Title">Pokonany dystans</span>
                <span class="Dashboard-Value">{{sumDistance}} km</span> 
            </div>
        </div>

        <div class="Dashboard-Main-Box">
            <img src="/static/img/icon-average.webp" class="icon-Dashboard">
            <div class="Dashboard-Value-Main-Box">
                <span class="Dashboard-Value-Title">Średni dystans</span>
                <span class="Dashboard-Value">{{averageDistance}} km</span>
            </div>
        </div>

        <div class="Dashboard-Main-Box">
            <img src="/static/img/icon-timeTime.webp" class="icon-Dashboard">
            <div class="Dashboard-Value-Main-Box">
                <span class="Dashboard-Value-Title">Średni czas aktywności</span>
                <span class="Dashboard-Value">{{averageTime}}</span>
            </div>
        </div>

        <div class="Dashboard-Main-Box">
            <img src="/static/img/arrow_direction_pointer_up_icon-2.svg" class="icon-Dashboard">
            <div class="Dashboard-Value-Main-Box">
                <span class="Dashboard-Value-Title">Ilość aktywności</span>
                <span class="Dashboard-Value">{{ activitiesAmount }}</span>
            </div>
        </div>

    </div>

    {% if activities|length != 0 %}
    <div class="dashBoard">
        <div class="Chart-Box">
            <span class="Title-Box">Różnorodność aktywności</span>
            <canvas id="doughnut-chart" class="Chart"></canvas>
        </div>
        <div class="col-xl-6 Chart-Box">
            <span class="Title-Box">Aktywności ostatnich 10 dni</span>
            <canvas id="bar-chart" class="Chart"></canvas>
        </div>
    </div>
    

    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <div class="table-responsive-md">
                <table class="table table-sm table-dark table-striped table-hover" style="margin-top: 30px; border-radius: 50px;">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Data</th>
                        <th scope="col">Aktywność</th>
                        <th scope="col">Dystans</th>
                        <th scope="col">Czas</th>
                        <th scope="col">Operacje</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for activity in activities: %}
                        <tr>
                            <td scope="row">{{loop.index}}</td>
                            <td>{{activity.date}}</td>
                            <td>{{activity.activity_type}}</td>
                            <td>{{activity.distance}} km</td>
                            <td>{{sec_to_H_M_S(activity.time)}}</td>
                            <td>

                                <a href="{{ url_for('activity.modify_activity', activity_id = activity.id )}}" role="button"><img src="static/img/icon-edit.webp" class="edit-button"></a>
                                <!-- Button trigger modal -->
                                <a type="button" class="delete-confirm" 
                                    data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                                    data-desc="{{ 'Chcesz usunąć aktywność: {} ({} km) z dnia {}?'.format(activity.activity_type.name, activity.distance, activity.date) }}"
                                    data-url="{{ url_for('activity.delete_activity', activity_id=activity.id )}}">
                                    <img src="static/img/icon-delete.webp" class="delete-button">
                                </a>
                                {% if activity.strava_id %}
                                    <a href="https://www.strava.com/activities/{{activity.strava_id}}" style="color: #FC4C02;"> View on Strava</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-md-center">
        <div class="Chart-Box">
            <span class="Title-Box">Nie posiadasz jeszcze żadnych aktywności!</span>
                <a href="{{ url_for('activity.add_activity')}}" type="button" class="btn btn-dark btn-lg Main-Button" >Dodaj aktywność</a>
            </span> 
        </div>
    </div>
    {% endif %}
</div>



<script>

    var donut_labels = {{ kindOfActivities | safe }}
    var donut_data = {{ percentsOfActivities | safe }}

    new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
        labels: donut_labels,
        datasets: [
            {
            // backgroundColor: ["#579956", "#8CFA14", "#337507","#38AB68","#4A9972","#677866", "#03721C"], "#9ff72cdd
            backgroundColor: ["#03721C", "#579956", "#0d734b", "#395144", "#00603a", "#404040", "#0c1812", "#9ff72cdd"],
            labels: ["Rodzaj aktwyności"],
            data: donut_data
            }
        ]
        },
        options: {
        title: {
            display: false,
            text: 'Różnorodność aktywności'
        },
        elements: {
            arc: {
                borderWidth: 0
                }
        },
        
        plugins: {
            legend: {
                display: true,
                position: 'bottom'
            }
        }
        }
    });
</script>



<script>

    var bar_labels = {{ dates | safe }}
    var bar_data = {{ dataList | safe }}

    new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: bar_labels,
      datasets: [
        {
          label: "Dystans [km]",
          backgroundColor: ["#579956"],
          data: bar_data
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: false,
        text: 'Liczba aktywności w ostatnich 10 dniach'
      }
      
    }
});
</script>



{% endblock %}