{% extends "pages//baseNew.html" %}


{% block body_content %}
<!-- Site css sheet -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/about.css') }}">

<div class="Static-Content">
    <div class="Title-About-Us">O nas</div>
    <div class="About-Us-Box">
      <img src="static/img/BartschAndBober.webp" class="Bartsch-Bober-Image">
      <div class="About-Us-Text">
        <span class="About-Us-Font">
          Przyjaźnimy się od 10 lat. Poznaliśmy się na Politechnice Wrocławskiej. Oprócz wspólnych studiów łączy nas również miłość do piłki nożnej.
           Oprócz sportu naszą nową pasją jest programowanie. Z połączenia tych dwóch składników powstała ta aplikacja. Zapraszamy do korzystania i wspólnej zabawy!
           <br><br>
          Łukasz Bartsch i Marcin Bober
          
        </span>
        <a href="https://www.buymeacoffee.com/SportoweSwiry">
          <div class="Coffee-Button"></div>
        </a>
      </div>
    </div>
</div>


{% endblock %}
