{% extends "pages//baseNew.html" %}


{% block body_content %}
<!-- Site css sheet -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/about.css') }}">

<div class="Static-Content">
    <div class="Title-About-Us">O nas</div>
    <div class="About-Us-Box">
      <img src="static/img/BartschAndBober.webp" class="Bartsch-Bober-Image">
      <div class="About-Us-Text">
        <span class="About-Us-Font">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac dui lacus. Mauris eget lacus magna. Nulla sapien nunc, egestas ac commodo vitae, ornare sit amet purus. Sed vehicula odio id venenatis accumsan. Nam vestibulum, mi vitae ultrices tempor, est nisl convallis orci, eget sollicitudin libero nisi in dui.
        </span>
        <a href="#">
          <div class="Coffee-Button"></div>
        </a>
      </div>
    </div>
</div>


{% endblock %}
