{% extends "pages//base.html" %}


{% block body_content %}
<!-- Site css sheet -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('other.static',filename='styles/about.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('other.static',filename='styles/how_it_works.css') }}">

<div class="Static-Content">


    <div class="row justify-content-center">
        
        <div class="how_it_works-box">
            <div class="card-header how_it_works-box-title">Napiwek w kryptowalutach</div>


            <span class ="how_it_works-box-font">


                    <b><center>WIĘCEJ INFORMACJI JUŻ WKRÓTCE!</center></b>
        

            </span>
            
        </div>
    </div>
</div>

</div>


{% endblock %}
