{% extends "pages//base.html" %}


{% block body_content %}
<!-- Site css sheet -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('other.static',filename='styles/about.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('other.static',filename='styles/how_it_works.css') }}">

<div class="Static-Content">


    <div class="row justify-content-center">
        
        <div class="how_it_works-box">
            <div class="card-header how_it_works-box-title">Napiwek w kryptowalutach</div>


            <span class ="how_it_works-box-font">
                Jeżeli jesteś zadowolony z aplikacji Sportowe Świry i chcesz wesprzeć jej utrzymanie oraz rozwój, możesz przelać nam "napiwek" na jeden z poniższych portfeli:<br><br>
                <ul>
                    <li><b>ETH (EVM):</b> 0x3e9A994DC3f579B7263e5DadDF3290EFC4f364d4</li><br>
                    <li><b>BTC:</b> bc1q3utpjlcgkcq3d6z49jgxl4udp9lypwev9c6ffu</li><br>
                    <li><b>CosmosHub:</b> cosmos1v6896fm58c2dsmd28ujhj3f49z5szqtgyypdw3</li><br>
                    <li><b>Aptos:</b> 0x9240ef902469c58fa1725cdb903ab194059be92730489ae13e243f26f2f23979</li><br>
                    <li><b>Solana:</b> 3SkQGnEwCrB6tPawvwnrT8FARhWRAubAfFwfRjR711MZ</li><br>
                    <li><b>Near:</b> 02633ec752c3747b071e01202f36be6f5cb0eef04d4061454d8f2e45265226c5</li><br>
                    <li><b>PolkaDot:</b> 13wpru53zrmftVpM17W9sJ8z5bWgeqKw5r7o1TtG8WtSb9s7</li><br>
                </ul>
            </span>
            
        </div>
    </div>
</div>

</div>


{% endblock %}
