{% extends "pages//base.html" %}


{% block body_content %}
<!-- Site css sheet -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('other.static',filename='styles/faq.css') }}">

<div class="Static-Content">
  <div class="Title-FAQ">Najczęściej zadawane pytania</div>


  <div class="FAQ-Box">

    <div class="accordion accordion-flush" id="accordionFlushExample" style="border-width:0px;">

        <div class="accordion-item" style="border-width:0px;">
          <div class="Question-Backgorund" id="flush-headingOne">
            <button class="Question-Font" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Czy muszę zapisać się do jakiegoś wyzwania, żeby dodawć aktywności?
            </button>
          </div>
          <div id="flush-collapseOne" class="accordion-collapse collapse Answer-Backgorund" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="Answer-Font">
              Nie, możesz dodawać aktywności nie będąc zapisanym do żadnego wyzwania, i traktować naszą aplikację jako swego rodzaju archiwum swoich sportowych osiągnieć.
              Jednak pamiętaj, że nic tak mobilizuje do działania jak rywalizacja ze swoimi przyjaciółmi<br><br>
              <i><h5 style="text-align: center;"><b>"Zwycięstwo nie jest ważne, jest najważniejsze!"</b></i></h5>
            </div>
          </div>
        </div>

      <div class="accordion-item"  style="border-width:0px;">
        <div class="Question-Backgorund" id="flush-headingTwo">
          <button class="Question-Font" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Czy mogę stworzyć swoje własne wyzwanie?
          </button>
        </div>
        <div id="flush-collapseTwo" class="accordion-collapse collapse Answer-Backgorund" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="Answer-Font">
            Na ten moment jedynie administratorzy aplikacji mogą uruchomić nowe wyzwania. Jeżeli chcesz stworzyć nowe wydarzenie, skontaktuj się nami przez <a href="{{ url_for('other.send_message') }}" >Formularz Kontaktowy</a>.
          </div>
        </div>
      </div>

      <div class="accordion-item" style="border-width:0px;">
        <div class="Question-Backgorund" id="flush-headingThree">
          <button class="Question-Font" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Czy mogę brać jednocześnie udział w paru wyzwaniach?
          </button>
        </div>
        <div id="flush-collapseThree" class="accordion-collapse collapse Answer-Backgorund" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="Answer-Font">
            Tak, jak najbardziej! Możesz się zapisać do kilku trwających jednocześnie wyzwań. Aplikacja policzy dodawaną aktywność do każdego z nich, uwzględniając przelicznik ustalony dla każdego z wyzwań.
          </div>
        </div>
      </div>

      

    </div>
  </div>
  </div>
</div>

{% endblock %}