{% extends "pages//base.html" %}


{% block body_content %}
<!-- Site css sheet -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('other.static',filename='styles/about.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('other.static',filename='styles/history.css') }}">


<div class="Static-Content">


        <div class="row justify-content-center">
            
            <div class="history-box">
                <div class="card-header history-box-title">Nasza historia</div>




                <span class ="history-box-font">
                <div class="row history-box-row">
                    <div class="history-box-text-col">
                        Był 2020 r., czyli jak pewnie pamiętasz głęboka pandemia i&nbsplock-down. Siłownie zamknięte, restauracje zamknięte, lasy chyba już otwarte.
                        <br><br>
                        Cała nasza grupa znajomych, która do tej pory była mniej lub bardziej aktywna fizycznie, czuła, że ma <b>DOŚĆ.</b> Ruch ograniczał się do wstania z łóżka i podejścia do komputera lub ekspresu do kawy.
                        <br><br>
                        Po kolejnym rozprężeniu i wycieczce w Bieszczady, gdzie z trudnością chodziliśmy po naszych ukochanych górach, stwierdziliśmy, że najwyższy czas coś z tym zrobić.

                    </div>
                    <div class="col history-box-img-col">
                        <img src="static/pictures/lysy.png" class="history-box-img" style="max-height: 350px; right: -10px; ">
                    </div>
                </div>
                <div class="row history-box-row"> 
                    <div class="history-box-all-col">
                        <br>
                        Każdy z nas doszedł do wniosku, że najlepiej nam wyjdzie, gdy będziemy coś robić razem. Tylko jak robić coś razem… gdy każdy z nas mieszka na różnych krańcach Wrocławia, a nawet Polski, więc największym problemem jest <b>zgrać się w jednym miejscu, w tym samym czasie. </b>
                        <br><br>
                        Rozwiązanie przyszło, gdy spotkania on-line stały się coraz bardziej powszechne.
                        <br><br>
                        Postanowiliśmy stworzyć <b>zdalne 10 tygodniowe wyzwanie</b>, w którym co tydzień mieliśmy biegać co raz więcej kilometrów. Przesyłaliśmy sobie zdjęcia na czacie, wysyłaliśmy kciuki, dobre słowo i wszystko co jest potrzebne by się motywować do ruchu. Przez cały pierwszy tydzień mieliśmy przebiec 10km, kolejno 12, 14, 16, 18, 20, i w ostatnim 21 km. Wydaje się dużo, szczególnie ten ostatni dystans, ale z biegiem czasu okazywało się, że to pikuś, gdy dbaliśmy o regularność. 
                        <br><br>
                    </div>
                </div>
                <div class="row history-box-row"> 
                    <div class="history-box-all-col">
                        <img src="static/pictures/table.png" class="history-box-img" style="width:100%; height:100% ; object-fit: contain;">
                    </div>
                </div>

                <div class="row history-box-row"> 
                    <div class="history-box-all-col">
                        <br>
                        Do wyzwania dołączały kolejne osoby, które średnio przepadały za bieganiem. Nic nie stało na przeszkodzie, bo w końcu liczy się zabawa i sami mieliśmy ochotę popróbować czegoś innego. Wymyśliliśmy<b> przeliczniki na każdą aktywność</b> np. jazdę rowerem, wycieczki górskie, mecz piłki nożnej. 
                        <!-- <br><br>
                        Każdy był zadowolony, dobrze się bawił i co najważniejsze ruszał się po pracy!!! -->
                        <br><br>
                        Zdalna praca w większości przypadków z nami została, wyzwanie też, a co najlepsze plecy przestały boleć, byliśmy bardziej sprawni i spędzaliśmy wspólnie czas aktywnie.
                    </div>
                </div>
                <br>
                <div class="row history-box-row">
                    <div class="col history-box-img-col">
                        <img src="static/pictures/bober.png" class="history-box-img bober-img">
                    </div>
                    <div class="history-box-text-col">
                        
                        Dodamy jeszcze, bo to chyba ważne, że jak ktoś nie osiągnął celu tygodniowego musiał każdemu kto wykonał cel kupić ustaloną nagrodę, w naszym przypadku była to butelka dobrego piwa. <b>Dodatkowa motywacja!</b>
                        <br><br>
                        Zaczynaliśmy <b>od prostego arkusza</b> do wpisywania swoich osiągnięć, a pomysł ewoluował <b>do aplikacji „Sportowe Świry”</b>, którą chcielibyśmy oddać do Twojej dyspozycji.
                        <br><br>
                        Możesz zrobić <b>własne wyzwanie</b> na tyle tygodni, ile uważasz za słuszne, z celami tygodniowymi, które uważasz za możliwe do zrealizowania przez Ciebie i Twoich znajomych.
                        <br><br>
                        Masz pytania, potrzebujesz pomocy? Pisz śmiało! Niech ta aplikacja zmotywuje Was do wspólnej zabawy i aktywności fizycznej. 
                        <br><br>
                        PS Minęły dwa lata każde z nas w ostatnim czasie przebiegło chociaż jeden półmaraton, niektórzy maratony, rajdy rowerowe górskie i cieszymy się wspólnie z naszych <b>małych osobistych sukcesów.</b>
                    </div>

                </div>
                </span>
                
            </div>
        </div>
    </div>
    
</div>


{% endblock %}
