{% extends "pages//base.html" %}


{% block body_content %}


    <!-- Send Message - Modal -->
    <div class="modal fade" id="confirmWriteMessageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Nowa wiadomość</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
			<form action="#" method="post">
				<div class="modal-body" id="idMessageModalBody">
					{{ form.csrf_token }}

					<div class="mb-3">
						<label class="small mb-1" for="activity">{{ form.receiver_email.label }}:</label>
						{{ form.receiver_email(class_="form-control") }}
						<ul>
							{% for error in form.receiver_email.errors %}
								{{ error }}
							{% endfor %}
						</ul>
					</div>

					<div class="mb-3">
						<label class="small mb-1" for="activity">{{ form.subject.label }}:</label>
						{{ form.subject(class_="form-control") }}
						<ul>
							{% for error in form.subject.errors %}
								{{ error }}
							{% endfor %}
						</ul>
					</div>

					<div class="mb-3">
						<label class="small mb-1" for="activity">{{ form.message.label }}:</label>
						{{ form.message(class_="form-control") }}
						<ul>
							{% for error in form.message.errors %}
								{{ error }}
							{% endfor %}
						</ul>
					</div>

						<!-- <div class="form-group Checkbox-Input">
							<label class="form-label"> {{ form.send_by_app.label }} </label>
							{{ form.send_by_app(class_="form-check-input", id="checkboxAppId") }}
						</div>

						<div class="form-group Checkbox-Input">
							<label class="form-label"> {{ form.send_by_email.label }} </label>
							{{ form.send_by_email(class_="form-check-input", id="checkboxEmailId") }}
						</div> -->
				</div>
				<div class="modal-footer">
					<form method="GET" id="confirmWriteMessageForm">
						<button type="button" class="btn btn-secondary closeButton" data-bs-dismiss="modal">Zamknij</button>
						<button type="submit" class="btn btn-dark sendMessgaeButton" style="background-color: #579956; border-color: #579956;" id="sendButtonId">Wyślij wiadomość</button>
					</form>
				</div>
			</form>
        </div>
        </div>
    </div>




	 <!-- READ Message - Modal -->
	 <div class="modal fade" id="readMessageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Treść wiadomości</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

				<div class="modal-body" id="idReadMessageModalBody">
					
				</div>
				<div class="modal-footer">
					<form method="GET" id="confirmReadMessage">
						<!-- <button type="submit" class="btn btn-dark" style="background-color: #579956;">Oznacz jako przeczytana</button> -->
					</form>
				</div>

        </div>
        </div>
    </div>







    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script> 
		//Write Message
        $(document).ready(function () { 
            // For a write and sent new message
            // This function is applied to all elements with class ending with ".writeAndSendMessage 
            $('.writeAndSendMessageConfirm').click(function () { 
                // get attributes of the found element 
                var desc = $(this).attr('data-desc'); 
                var url = $(this).attr('data-url'); 
                // the #... designates id of an element - change the text in the modal window 
                $('#idMessageModalBody').text(desc); 
                $("#confirmWriteMessageForm").attr("action", url); 
            }); 
        }); 
    </script>




	<!-- <script> 
	$(document).on('hide.bs.modal','#readMessageModal', function () {
		var url = $('.readMessageModal').attr('data-url'); 
		alert(url)
		window.location.replace($(this).attr('data-url'))
		// do something…
	})
	</script> -->

	<!-- <script>
		//Read Message
		$(document).ready(function () { 
			// For a write and sent new message
			// This function is applied to all elements with class ending with ".writeAndSendMessage 
			$('.readMessageConfirm').on('hide.bs.modal','#readMessageModal', function () { 
				// get attributes of the found element 
				var desc = $(this).attr('data-desc'); 
				var url = $(this).attr('data-url'); 
				alert(url)
				// the #... designates id of an element - change the text in the modal window 
				$('#idReadMessageModalBody').text(desc); 
				$("#confirmReadMessage").attr("action", url); 
			}); 
		}); 
	</script> -->


	<script>
		//Read Message
		$(document).ready(function () { 
			var url_2 = '22'
			// For a write and sent new message
			// This function is applied to all elements with class ending with ".writeAndSendMessage 
			$('.readMessageConfirm').click(function () { 
				// get attributes of the found element 
				var desc = $(this).attr('data-desc'); 
				var url = $(this).attr('data-url'); 
				url_2 = $(this).attr('data-url'); 
				// the #... designates id of an element - change the text in the modal window 
				$('#idReadMessageModalBody').text(desc); 
				$("#confirmReadMessage").attr("action", url); 
			}); 
			$(document).on('hide.bs.modal', '#readMessageModal', function () {
				var url = $('.readMessageModal').attr('data-url'); 
				window.location.replace(url_2)

			})
		}); 
	</script>

	<script>
		// Checking of checkboxes
		$("#idMessageModalBody").change(function() {
			if($true) {
				$("#sendButtonId").attr("disabled", false);
			} 
			// if($("#checkboxAppId").prop('checked') || $("#checkboxEmailId").prop('checked')) {
			// 	$("#sendButtonId").attr("disabled", false);
			// } else {
			// 	$("#sendButtonId").attr("disabled", true);
			// }
    	});
	</script>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('other.static',filename='styles/mailbox.css') }}">
<div class="container Mailbox-Main-Box">
<div class="row">
	<!-- BEGIN INBOX -->
	<div class="col-md-12">
		<div class="grid email">
			<div class="grid-body">
				<div class="row">
					<!-- BEGIN INBOX MENU -->
					<div class="col-md-3">
						<h2 class="grid-title"><i class="fa fa-inbox"></i> Wiadomości</h2>


						<!-- Button trigger modal -->
						<a type="button" class="btn btn-dark btn-lg writeAndSendMessageConfirm" 
							data-bs-toggle="modal" data-bs-target="#confirmWriteMessageModal"
							data-url="{{ url_for('other.mailbox', actionName=actionName) }}">
							<i class="fa fa-pencil"></i>&nbsp;&nbsp;Nowa wiadomość
						</a>

						<hr>

						<div class="katalogi">
							<ul class="nav nav-pills nav-stacked">
								<li class="header">Katalogi</li>
								<li class="{{ 'active' if actionName=='inbox' }}"><a href="{{ url_for('other.mailbox', actionName='inbox') }}"><i class="fa fa-inbox"></i> Odebrane ({{ amount_of_received_messages}})</a></li>
								<!-- <li><a href="#"><i class="fa fa-star"></i> Oznaczone gwiazdką</a></li>
								<li><a href="#"><i class="fa fa-bookmark"></i> Ważne</a></li> -->
								<li class="{{ 'active' if actionName=='sent' }}"><a href="{{ url_for('other.mailbox', actionName='sent') }}"><i class="fa fa-mail-forward"></i> Wysłane ({{ amount_of_sent_messages }})</a></li>
								<!-- <li><a href="#"><i class="fa fa-folder"></i> Kosz</a></li> -->
							</ul>

						</div>
					</div>
					<!-- END INBOX MENU -->
					
					<!-- BEGIN INBOX CONTENT -->
					<div class="col-md-9">
						
						<div class="padding"></div>
						
						<form method="POST" action ="{{ url_for('other.mailbox', actionName=actionName) }}">
						<button type="submit" class="btn btn-dark btn-sm small-button">Usuń zaznaczone</button>
						<div class="table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<th>#</th>
										<th>Nadawca</th>
										<th>Adresat</th>
										<th>Temat</th>
										<th>Data</th>
									</tr>
									{% for message in messages_current_user: %}

									{% if message.message_readed == 0 and actionName=='inbox' %}
									<tr class="listOfMessages" style="background-color: lightgray;">
										<td class="action"><input type="checkbox" value="{{ message.id }}" name="checkboxesWithMessagesToDelete"></td>
										<td class="name">
											<a href="#" style="font-weight: 700; color:black;" class="readMessageConfirm" 
											data-bs-toggle="modal" data-bs-target="#readMessageModal"
											data-desc="{{ message.message }}"
											data-url="{{ url_for('other.change_message_status', message_id=message.id) }}">
											{{ message.sender_name }}</a>
										</td>
										<td class="name">
											<a href="#" style="font-weight: 700; color:black;" class="readMessageConfirm" 
											data-bs-toggle="modal" data-bs-target="#readMessageModal"
											data-desc="{{ message.message }}"
											data-url="{{ url_for('other.change_message_status', message_id=message.id) }}">
											{{ message.receiver_name }}</a>
										</td>
										<td class="subject">
											<a href="#" style="font-weight: 700; color:black;" class="readMessageConfirm" 
											data-bs-toggle="modal" data-bs-target="#readMessageModal"
											data-desc="{{ message.message }}"
											data-url="{{ url_for('other.change_message_status', message_id=message.id) }}">
											{{ message.subject }}</a>
										</td>
										<td class="time" style="font-weight: 700;">{{ message.date }}</td>
									</tr>

									{% else %}
									<tr class="listOfMessages">
										<td class="action"><input type="checkbox" value="{{ message.id }}" name="checkboxesWithMessagesToDelete"></td>
										<td class="name">
											<a href="#" style="font-weight: 400; color:black;" class="readMessageConfirm" 
											data-bs-toggle="modal" data-bs-target="#readMessageModal"
											data-desc="{{ message.message }}"
											data-url="{{ url_for('other.mailbox', actionName=actionName) }}">
											{{ message.sender_name }}</a>
										</td>
										<td class="name">
											<a href="#" style="font-weight: 400; color:black;" class="readMessageConfirm" 
											data-bs-toggle="modal" data-bs-target="#readMessageModal"
											data-desc="{{ message.message }}"
											data-url="{{ url_for('other.mailbox', actionName=actionName) }}">
											{{ message.receiver_name }}</a>
										</td>
										<td class="subject">
											<a href="#" style="font-weight: 400; color:black;" class="readMessageConfirm" 
											data-bs-toggle="modal" data-bs-target="#readMessageModal"
											data-desc="{{ message.message }}"
											data-url="{{ url_for('other.mailbox', actionName=actionName) }}">
											{{ message.subject }}</a>
										</td>
										<td class="time" style="font-weight: 400;">{{ message.date }}</td>
									</tr>
									{% endif %}
									
									{% endfor %}
								</tbody>
							</table>
						</div>
						</form>
					
					</div>
					<!-- END INBOX CONTENT -->
					
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>
</div>
<div class="padding"></div>

{% endblock %}