{% extends "pages//base.html" %}

{% block body_content %}

<div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">Formularz kontaktowy</div>
                <div class="card-body">
                    <form method="POST">
                        {{ form.csrf_token }}
                        
                        <div class="mb-3">
                            <label class="small mb-1" for="newPassword">{{ form.name.label }}</label>
                            {{ form.name(class_="form-control" ) }}
                            <ul>
                                {% for error in form.name.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="confirmPassword">{{ form.lastName.label }}</label>
                            {{ form.lastName(class_="form-control" ) }}
                            <ul>
                                {% for error in form.lastName.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="confirmPassword">{{ form.mail.label }}</label>
                            {{ form.mail(class_="form-control" ) }}
                            <ul>
                                {% for error in form.mail.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="confirmPassword">{{ form.subject.label }}</label>
                            {{ form.subject(class_="form-control" ) }}
                            <ul>
                                {% for error in form.subject.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="confirmPassword">{{ form.message.label }}</label>
                            {{ form.message(class_="form-control" ) }}
                            <ul>
                                {% for error in form.message.errors %}
                                    {{ error }}
                                {% endfor %}
                            </ul>
                        </div>
                        <button class="btn btn-dark btn-lg" style="background-color: #182c07e8;" type="submit">Wyślij</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}