{% extends "pages//base.html" %}


{% block body_content %}
<!-- Site css sheet -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('other.static',filename='styles/statute.css') }}">


<div class="Static-Content">
  <div class="Title-Statute">Polityka Prywatności</div>
  <div class="Statute-Box">
    <div class="Statute-Text">
      <span class="Statute-Font">
        <p style="text-align: justify;">Polityka Prywatności<strong> </strong></p>
        <p style="text-align: justify;">W poniższym dokumencie znajdziesz zasady przetwarzania danych osobowych, a także wykorzystywania plik&oacute;w cookies i innych technologii śledzących, kt&oacute;rych używamy dla poprawnego funkcjonowania aplikacji dostępnej pod adresem <a href="https://sportoweswiry.com.pl/">https://sportoweswiry.com.pl/</a>.</p>
        <p style="text-align: justify;">W razie jakichkolwiek wątpliwości i pytań, na kt&oacute;re nie znajdziesz odpowiedzi w tym dokumencie, możesz skontaktować się z nami pisząc na <a href="mailto:kontakt@sportoweswiry.com.pl">kontakt@sportoweswiry.com.pl</a>.</p>

        <ol>
        <li><strong><span style="font: 7.0pt 'Times New Roman';"> </span></strong>Administratorem Twoich danych osobowych jest Marcin Bober, zamieszkały przy ul. Chorwackiej 35/41 we Wrocławiu.</li>
        </ol>

        <ol start="2">
        <li><strong><span style="font: 7.0pt 'Times New Roman';"> </span></strong>Nie jest wyznaczony inspektor ochrony danych osobowych, gdyż dla naszej aplikacji nie jest to obowiązkowe. W sprawach związanych z ochroną danych osobowych możesz skontaktować się z nami pisząc na <a href="mailto:kontakt@sportoweswiry.com.pl">kontakt@sportoweswiry.com.pl</a>.</li>
        </ol>

        <ol start="3">
        <li><strong><span style="font: 7.0pt 'Times New Roman';"> </span></strong>W ramach zapewnienia poprawnego funkcjonowanie aplikacji możemy zbierać i przetwarzać następujące dane:</li>
        </ol>

        <ul>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Imię i Nazwisko</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Adres e-mail,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Informacje o Twoich aktywnościach fizycznych,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Dane zawarte w korespondencji do nas kierowanej</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Adres IP,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Aktywności związane z wiadomościami wysyłanymi w ramach naszego newslettera,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Informacje o używanych przez Ciebie systemie operacyjnym oraz przeglądarce internetowej,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Przeglądane podstrony,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Czas spędzony na stronie,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Przejścia pomiędzy poszczeg&oacute;lnymi podstronami,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Kliknięcia w poszczeg&oacute;lne linki,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Źr&oacute;dło, z kt&oacute;rego przychodzisz do naszej aplikacji,</li>
        </ul>

        <ol start="4">
        <li><strong><span style="font: 7.0pt 'Times New Roman';"> </span></strong>Dane osobowe przekazujesz nam gdy:</li>
        </ol>

        <ul>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Zakładasz konto w aplikacji,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Dodajesz zapis aktywności fizycznych,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Kontaktujesz się z administratorami,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Zapisujesz się do newslettera,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Korzystasz z poszczeg&oacute;lnych funkcjonalności aplikacji</li>
        </ul>
        <p style="margin-left: 15pt; text-align: justify;">Dodatkowo informacje na Tw&oacute;j temat mogą być automatycznie gromadzone przez naszą aplikacje i narzędzia zewnętrzne, z kt&oacute;rych korzystamy:</p>
        <ul>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Adres IP,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Aktywności związane z treściami przesyłanymi w ramach Newslettera, przykładowo otwarcie wiadomości, czy kliknięcie w link.</li>
        </ul>

        <ol start="5">
        <li><strong><span style="font: 7.0pt 'Times New Roman';"> </span></strong>Poniżej znajdziesz cele, w kt&oacute;rych przetwarzamy Tw&oacute;j dane osobowe. Każdy cel posiada przyporządkowaną podstawę prawną:</li>
        </ol>

        <ul>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span><strong>Rejestracja i utrzymywanie konta użytkownika &ndash; art. 6 ust. 1 lit. b RODO.</strong></li>
        </ul>
        <p style="margin-left: 22pt; text-align: justify;">Tworząc konto w aplikacji Sportowe Świry musisz podań nam: imię, nazwisko, adres e-mail oraz hasło. Podanie tych danych jest dobrowolne, ale konieczne do stworzenia konta.</p>

        <p style="margin-left: 22pt; text-align: justify;">Dodatkowo nasza aplikacja zapisze Tw&oacute;j adres IP, wykorzystywany w czasie zakładania konta.</p>

        <p style="margin-left: 22pt; text-align: justify;">Dane podane w czasie zakładania konta możesz zmodyfikować korzystając funkcjonalności aplikacji.</p>

        <p style="margin-left: 22pt; text-align: justify;">Dane przekazane przez Ciebie w związku z założeniem konta przetwarzane są w celu świadczenia na Twoją rzecz usługi drogą elektroniczną polegającej na zapewnieniu Ci możliwości korzystania z konta użytkownika. Usługa ta świadczona jest na podstawie umowy zawieranej na zasadach opisanych w regulaminie, co oznacza, że w tym zakresie podstawą prawną przetwarzania Twoich danych osobowych jest art. 6 ust. 1 lit. b RODO.</p>

        <p style="margin-left: 22pt; text-align: justify;">Twoje dane będziemy przechowywać przez czas funkcjonowania konta użytkownika. Swoje konto możesz w każdej chwili usunąć. Po usunięciu konta w naszej bazie danych pozostaną informacje na temat Twojego uczestnictwa w wyzwaniach, jednak zostaną one zanonimizowane w spos&oacute;b uniemożliwiający powiązanie ich z konkretną osobą.</p>

        <ul>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span><strong>Wysyłka newslettera &ndash; art. 6 ust. 1 lit. a RODO,</strong></li>
        </ul>
        <p style="margin-left: 22pt; text-align: justify;">Podczas zapisu do newslettera przekazujesz nam imię oraz adres e-mail. Podanie tych danych jest dobrowolne, ale konieczne do zapisu na newsletter.</p>

        <p style="margin-left: 22pt; text-align: justify;">Dodatkowo system, kt&oacute;ry używamy do obsługi newslettera, zapisze Tw&oacute;j adres IP, wykorzystywany w czasie zapisu, Twoją przybliżoną lokalizację, klienta poczty oraz będzie rejestrował działania związne z wysyłanymi do Ciebie wiadomościami. Co za tym idzie, posiadamy r&oacute;wnież informacje, kt&oacute;re wiadomości otworzyłeś, w kt&oacute;re linki w nich zawarte kliknąłeś itd.</p>

        <p style="margin-left: 22pt; text-align: justify;">Dane przekazane przez Ciebie w związku z zapisem do newslettera, wykorzystywane są w celu przesyłania Ci newslettera, a podstawą prawną ich przetwarzania jest Twoja zgoda (art. 6 ust. 1 lit. a RODO) wyrażona podczas zapisywania się do newslettera. Jeżeli chodzi o przetwarzanie informacji, kt&oacute;re nie pochodzą od Ciebie, a zostały zebrane automatycznie przez nasz system mailingowy, opieramy się w tym zakresie na naszym prawnie uzasadnionym interesie (art. 6 ust. 1 lit. f RODO) polegającym na analizie zachowań subskrybent&oacute;w newslettera w celu optymalizacji działań mailingowych.</p>

        <p style="margin-left: 22pt; text-align: justify;">W każdej chwili możesz zrezygnować z otrzymywania newslettera, klikając w dedykowany link znajdujący się w każdej wiadomości wysyłanej w ramach newslettera. Pomimo rezygnacji z newslettera, Twoje dane będą nadal przechowywane w bazie w celu identyfikacji subskrybenta powracającego oraz ewentualnej obrony roszczeń związanych z wysyłaniem Ci newslettera, w szczeg&oacute;lności na potrzeby wykazania faktu udzielenia przez Ciebie zgody na otrzymywanie newslettera oraz chwili jej wycofania, co stanowi prawnie uzasadniony interes, o kt&oacute;rym mowa w art. 6 ust. 1 lit. f RODO.</p>

        <p style="margin-left: 22pt; text-align: justify;">W każdej chwili możesz zmodyfikować swoje dane podane na potrzeby otrzymywania newslettera klikając w stosowny link widoczny w każdej wiadomości wysyłanej w ramach newslettera.</p>

        <ul>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span><strong>Obsługa korespondencji &ndash; art. 6 ust. 1 lit. f RODO,</strong></li>
        </ul>
        <p style="margin-left: 22pt; text-align: justify;">Wysyłając do nas wiadomość, automatycznie przekazujesz nam swoje dane zawarte w tej korespondencji, w szczeg&oacute;lności adres e-mail oraz imię i nazwisko. Podanie tych danych jest dobrowolne, ale niezbędne do nawiązania kontaktu</p>

        <p style="margin-left: 22pt; text-align: justify;">Twoje dane są w tym przypadku przetwarzane w celu kontaktu z Tobą, a podstawą przetwarzania jest art. 6 ust. 1 lit. f RODO, czyli nasz prawnie uzasadniony interes. Podstawą prawną przetwarzania po zakończeniu kontaktu jest r&oacute;wnież usprawiedliwiony cel w postaci archiwizacji korespondencji na potrzeby zapewnienia sobie możliwości wykazania określonych fakt&oacute;w w przyszłości (art. 6 ust. 1 lit. f RODO).</p>

        <p style="margin-left: 22pt; text-align: justify;">Treść korespondencji może podlegać archiwizacji i nie jestem w stanie jednoznacznie określić, kiedy zostanie usunięta. Masz prawo do domagania się przedstawienia historii korespondencji, jaką z nami prowadziłeś (jeżeli podlegała archiwizacji), jak r&oacute;wnież domagać się jej usunięcia, chyba że jej archiwizacja jest uzasadniona z uwagi na nadrzędne interesy, np. obrona przed potencjalnymi roszczeniami z Twojej strony.</p>

        <ul>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span><strong>Tworzenie archiwum na potrzeby ewentualnej konieczności obrony, ustalenia lub dochodzenia roszczeń &ndash; art. 6 ust. 1 lit. f RODO,</strong></li>
        </ul>
        <p style="margin-left: 22pt;">W ramach opisu poszczeg&oacute;lnych cel&oacute;w przetwarzania danych osobowych, kt&oacute;re znajdują się powyżej, wskazaliśmy terminy przechowywania danych osobowych. Terminy te często związane są z archiwizacją przez nas określonych danych na potrzeby zapewnienia sobie możliwości wykazania określonych fakt&oacute;w w przyszłości, odtworzenia przebiegu wsp&oacute;łpracy z klientem, wymienionej korespondencji, obrony, ustalenia lub dochodzenia roszczeń. Opieram się w tym zakresie na naszym prawnie uzasadnionym interesie, o kt&oacute;rym mowa w art. 6 ust. 1 lit. f RODO.</p>

        <ul>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span><strong>Analiza, statystyka oraz optymalizacja działania aplikacji - art. 6 ust. 1 lit. f RODO</strong></li>
        </ul>
        <p style="margin-left: 22pt; text-align: justify;">Zbieramy informacje statystyczne na temat zachowania użytkownik&oacute;w podczas korzystania z naszej aplikacji, takich jak kliknięcia w linki, przejścia pomiędzy podstronami, czas spędzany na poszczeg&oacute;lnych stronach itp. Informacje te wykorzystujemy w celu optymalizacji naszych stron pod kątem doświadczenia użytkownika, skuteczności i konwersji.</p>

        <p style="margin-left: 22pt; text-align: justify;">Opisane powyżej działania realizujemy, opierając się o prawnie uzasadniony interes, o kt&oacute;rym mowa w art. 6 ust. 1 lit. f RODO polegający na optymalizacji stron internetowych.</p>

        <ol start="6">
        <li><strong><span style="font: 7.0pt 'Times New Roman';"> </span></strong>Dla zapewnienia najwyższej jakości usług realizowanych przez naszą aplikacje, korzystamy r&oacute;wnież z usług świadczony przez podmioty trzecie. Część z tych usług jest związana z przetwarzaniem Twoich danych osobowych. Zewnętrzni usługodawcy, kt&oacute;rzy biorą udział w przetwarzaniu Twoich danych, to:</li>
        </ol>

        <ul>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Hostingodawca, kt&oacute;ry przechowuje dane na serwerze,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Dostawca systemu mailingowego, w przypadku, jeżeli jesteś subskrybentem newslettera,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Pozostali podwykonawcy, kt&oacute;rzy uzyskują dostęp do danych, jeżeli zakres ich działań wymaga takowego dostępu.</li>
        </ul>

        <ol start="7">
        <li><strong><span style="font: 7.0pt 'Times New Roman';"> </span></strong>Część operacji przetwarzania danych osobowych wiąże się z przekazaniem ich do państw trzecich. Przekazujemy Twoje dane osobowe do państw trzecich w związku z korzystaniem z narzędzi, kt&oacute;re przechowują dane osobowe na serwerach zlokalizowanych w państwach trzecich, w szczeg&oacute;lności w USA. Dostawcy tych narzędzi gwarantują odpowiedni poziom ochrony danych osobowych poprzez stosowne mechanizmy zgodności przewidziane przez RODO, w szczeg&oacute;lności poprzez przystąpienie do programu Privacy Shield lub korzystanie ze standardowych klauzul umownych.</li>
        </ol>

        <p style="text-align: justify; margin-left: 22pt;">Do przechowywania danych osobowych na serwerach zlokalizowanych w państwach trzecich dochodzi w ramach następujących narzędzi:</p>
        <ul>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>system mailingowy MailerLite, kt&oacute;rego dostawcą jest MailerLite, Jono Basanavičiaus g. 15, Vilnius 03108, Litwa &ndash; w zakresie Twojego imienia, adresu e-mail, adresu IP oraz informacji statystycznych związanych z Twoimi reakcjami na wysyłane przez nas wiadomości,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>synchronizacji z aplkacją Strava, kt&oacute;rej dostawcą jest Strava, Inc., 208 Utah Street, San Francisco, CA 94103, USA, - zakresie Twojego imienia, nazwiska, adresu e-mail, adresu IP oraz informacji związanych z wykorzystaniem przez Ciebie synchronizacji Strava z aplikacją Sportowe Świry.</li>
        </ul>

        <ol start="8">
        <li><strong><span style="font: 7.0pt 'Times New Roman';"> </span></strong>W związku przetwarzaniem przez nas danych osobowych, przysługują Ci następujące prawa:</li>
        </ol>
        <ul>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>prawo dostępu do swoich danych oraz otrzymania ich kopii,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>prawo do sprostowania (poprawiania) swoich danych,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>prawo do usunięcia danych (jeżeli Twoim zdaniem nie ma podstaw, abyśmy przetwarzali Twoje dane, możesz żądać, abyśmy je usunęli),</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>prawo do ograniczenia przetwarzania danych (możesz żądać, abyśmy ograniczyli przetwarzanie danych wyłącznie do ich przechowywania lub wykonywania uzgodnionych z Tobą działań, jeżeli w Twojej opinii mamy nieprawidłowe dane lub przetwarzam je bezpodstawnie),</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>prawo do wniesienia sprzeciwu wobec przetwarzania danych (masz prawo do sprzeciwu wobec przetwarzania danych na podstawie prawnie uzasadnionego interesu; powinieneś wskazać szczeg&oacute;lną sytuację, kt&oacute;ra Twoim zdaniem uzasadnia zaprzestanie przez mnie przetwarzania objętego sprzeciwem; przestaniemy przetwarzać Twoje dane w tych celach, chyba że wykażemy, że podstawy przetwarzania przez nas danych są nadrzędne wobec Twoich praw lub też, że Twoje dane są niezbędne do ustalenia, dochodzenia lub obrony roszczeń),</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>prawo do przenoszenia danych (masz prawo otrzymać od nas w ustrukturyzowanym, powszechnie używanym formacie nadającym się do odczytu maszynowego dane osobowe, kt&oacute;re dostarczyłeś na podstawie umowy lub Twojej zgody; możesz zlecić przesłanie tych danych bezpośrednio innemu podmiotowi),</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>prawo do cofnięcia zgody na przetwarzanie danych osobowych, jeżeli uprzednio taką zgodę wyraziłeś,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>prawo wniesienia skargi do organu nadzorczego (jeżeli stwierdzisz, że przetwarzamy dane niezgodnie z prawem, możesz złożyć w tej sprawie skargę do Prezesa Urzędu Ochrony Danych Osobowych lub innego właściwego organu nadzorczego)</li>
        </ul>

        <ol start="9">
        <li><strong><span style="font: 7.0pt 'Times New Roman';"> </span></strong>Nasza aplikacja wykorzystuje pliki cookies. Cookies to małe pliki tekstowe, kt&oacute;re przechowywane są na urządzeniu, kt&oacute;re wykorzystujesz do używania naszej aplikacji. Mogą być one odczytywane przez mechanizmy naszej aplikacji lub mechanizmy podmiot&oacute;w trzecich. Pliki cookies można podzielić na sesyjne, czyli takie, kt&oacute;re zostaną usunięte po zakończeniu sesji przeglądarki internetowej, oraz trwałe, czyli takie, kt&oacute;re pozostaną na Twoim urządzeniu i pozwolą rozpoznanie Twojej przeglądarki przy kolejnym wejściu na stronę.</li>
        </ol>

        <p style="text-align: justify; margin-left: 22pt;">Pliki cookies własne wykorzystywane są do zapewnienia prawidłowego funkcjonowania poszczeg&oacute;lnych mechanizm&oacute;w aplikacji, takich jak utrzymywanie sesji po zalogowaniu do konta.</p>

        <ol start="10">
        <li><strong><span style="font: 7.0pt 'Times New Roman';"> </span></strong>Informacje o tym w jaki spos&oacute;b korzystasz z naszej aplikacji są zapisywane w logach serwera, na kt&oacute;rym znajduje się aplikacja. Informacje te są przekazywane automatycznie, przez przesyłanie zapytań podczas korzystania z aplikacji. Zapisywane są między innymi:
        <ul>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Czas nadejścia zapytania,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Informacje o błędach jakie nastąpiły przy realizacji zapytania</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Adres URL strony poprzednio odwiedzanej przez Ciebie &ndash; w przypadku gdy przejście do aplikacji nastąpiło przez odnośnik,</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>Informacje o Twojej przeglądarce</li>
        <li><span style="font-family: Symbol;"><span style="font: 7.0pt 'Times New Roman';"> </span></span>informacje o adresie IP.</li>
        </ul>
        </li>
        </ol>

        <p style="text-align: justify; margin-left: 22pt;">Dane powyższe są wykorzystywane jedynie dla cel&oacute;w administrowania aplikacją, a ich zawartość nie jest ujawniona nikomu poza osobami upoważnionymi do administrowania serwerem.</p>

      </span>
    </div>
  </div>
</div>

{% endblock %}