{% extends "pages//base.html" %}


{% block body_content %}
<!-- Site css sheet -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('other.static',filename='styles/send_message.css') }}">

<div class="Static-Content">
    <div class="Title-Write-To-Us">Napisz do nas</div>
    <div class="Contact-Data-Box">
        <div class="Contact-Row-Box">
            <img src="static/img/icon-Mail.webp" class="icon-Contact-Data">
            <span class="Contact-Data-Font">
                admin@sportoweswiry.atthost24.pl
            </span>
        </div>
        <div class="Contact-Row-Box">
            <img src="static/img/icon-Facebook2.webp" class="icon-Contact-Data">
            <span class="Contact-Data-Font">
                fb.com/sportoweswiry
            </span>
        </div>
    </div>
    <form class="Contact-Form-Main-Box" method="POST">
        {{ form.csrf_token }}
        
        <div class="Special-Row-Input">
            {{ form.name(class_="form-control Input-Row-Box", placeholder="Imię i nazwisko" ) }}

            {{ form.mail(class_="form-control Input-Row-Box", placeholder="Adres e-mail" ) }}
        </div>

        {{ form.subject(class_="form-control Input-Box", placeholder="Temat wiadomości" ) }}
        <p class="Error-Message">
            {% for error in form.subject.errors %}
                {{ error }}
            {% endfor %}
        </p>

        {{ form.message(class_="form-control Input-Message-Box", placeholder="Wiadomość" ) }}
        <p class="Error-Message">
            {% for error in form.message.errors %}
                {{ error }}
            {% endfor %}
        </p>


        <button class="Main-Button" type="submit">
            <span class="Main-Button-Font">
                Wyślij
            </span>
        </button>
    </form>
    
</div>


{% endblock %}